.help {

  background-color: hsl(var(--page-background));
  min-height: 675px;
  &>.box{
    // width: 100%;
    padding: 0 40px;
  }

  .container {
    // padding-bottom: 123px;
    padding: 64px 0 128px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
    :deep(.primary_text){
      color: hsl(var(--primary));
    }
    .title{
      line-height: 1.5;
      font-weight: 500;
      font-family: Space Grotesk;
    }
    .green{
      color: hsl(var(--success));
    }

    &>.select {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      &>.select-item {
        padding: 12px 20px 20px;
        border-radius: 8px;
        background-color: hsl(var(--foreground) / 10%);
        border: 1px solid transparent;
        .title{
          color: hsl(var(--foreground) / 80%);
          font-weight: 400;
        }
        .description{
          color: hsl(var(--foreground) / 60%);
          font-weight: 300;
          letter-spacing: 0.5px;
        }
        &:hover:not(.active){
          border-color: hsl(var(--foreground) / 10%);
        }
      }

      &>.active {
        border-color: hsl(var(--foreground) / 30%);
        .title{
          color: hsl(var(--foreground) / 90%);
        }
        .description{
          color: hsl(var(--foreground) / 70%);
        }
      }
    }

    &>.btn{
      margin-top: 90px;
    }

    &>.txt_document {
      display: flex;
      justify-content: space-between;
      .left{
        flex: 1;
        min-width: 0;
      }
    }
  }
}