.help {

  background-color: hsl(var(--page-background));
  &>.box{
    // width: 100%;
    padding: 0 40px;
  }

  .container {
    // padding-bottom: 123px;
    padding: 64px 0 128px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
    :deep(.primary_text){
      color: hsl(var(--primary));
    }
    .title{
      line-height: 1.5;
      font-weight: 500;
      font-family: Space Grotesk;
    }
    .green{
      color: hsl(var(--success));
    }

    &>.select {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      &>.block {
        padding: 12px 20px 20px;
        border-radius: 8px;
        background-color: hsl(var(--foreground));
        color: hsl(var(--background));
        &>.description{
          opacity: 0.8;
        }
      }

      &>.select {
        box-shadow: 0px 0px 36px 4px rgba(253, 180, 24, 0.15);
        background: linear-gradient(0deg, #FDB713, #FD884F);
        color: hsl(var(--primary-foreground));
      }
    }

    &>.txt_document {
      display: flex;
      justify-content: space-between;
      .left{
        flex: 1;
        min-width: 0;
      }
    }
  }
}