.pc-login_code {
  padding-top: 60px;
  font-size: 14px;
@color: #FDB713;
  @color-show: #d09712;
  @color-black: #191D26;
  & > p {
    word-break: break-all;
  }
  .input_group {
    width: 100%;
    overflow: hidden;
    ul {
      width: 100%;
      background-color: #fff;
      li {
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
        height: 40px;
        border-radius: 6px;
        border: 1px solid #e4e4e7;
        position: relative;
        .tick {
          position: absolute;
          width: 1px;
          height: 16px;
          background-color: #000;
          animation: tok 0.8s step-end infinite;
          @keyframes tok {
            0% {
              opacity: 1;
            }
            50% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
        }
        .num {
          // width: 20px;
          // height: 20px;
          background-color: #fff;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
      li.focus {
        border-color: #a1a1aa;
      }
    }
    input {
      position: absolute;
      left: -99999px;
      top: 0;
      z-index: -1;
      // display: none;
    }
  }

  & > .btn {
    margin-top: 36px !important;
    width: 100%;
    height: 44px;
    font-size: 14px;

    font-weight: 500;
    color: #ffffff;
    background: @color-black;
    box-shadow: 0px 1px 31px 4px rgba(253, 183, 19, 0.1);
    border-radius: 5px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    border: none !important;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: @color;
      transform: scaleX(0);
      transform-origin: right center;
    }

    &:hover:not(.disabled, .notResend) {
      &::before {
        transform: scaleX(1);
        transform-origin: left center;
        transition: transform 0.24s ease-in-out;
      }
    }
  }
  & > .btn.disabled {
    background-color: @color;
  }
  & > .notResend {
    opacity: 0.5;
  }
}
