.api {

  .place {
    font-weight: 500;
    span:hover{
      color: hsl(var(--primary) / 80%);
    }
    .active{
      color: hsl(var(--primary));
    }
  }

  .main {
    min-height: 0;
    padding: 12px;
    border-radius: 8px;
    background-color: hsl(var(--layout-background));
    // overflow: auto;
  }
}