
.button{
  @apply border-none outline-none focus:outline-none bg-transparent rounded-md
}

.circle{
  @apply rounded-full 
}
.icon{
  /* @apply  */
}

.primary {
  background-color: hsl(var(--primary));
  color: hsl(var(--colour-foreground));
  cursor: pointer;
  user-select: none;
  border: 1px solid hsl(var(--primary));
}
.primary:hover {
  background-color: hsl(var(--primary) / 80%);
}

.major{
  background-color: hsl(var(--major));
  color: hsl(var(--colour-foreground));
}

.neutral{
  background-color: hsl(var(--neutral));
  color: hsl(var(--colour-foreground) / 80%);
  border: 1px solid hsl(var(--foreground) / 60%);
}
.neutral:hover{
  background-color: hsl(var(--neutral) / 80%);
  color: hsl(var(--colour-foreground));
}

.ghost{
  color: hsl(var(--foreground));
}
.ghost:hover:not(.disabled){
  background-color: hsl(var(--neutral) / 10%);
}

.link{
  color: hsl(var(--primary));
}
.link:hover:not(.disabled){
  color: hsl(var(--primary) / 80%);
}

.border{
  border-radius: 6px;
  border: 1px solid hsl(var(--border));
}
.border:hover,.border:focus{
  border-color: hsl(var(--primary) / 60%);
  color: hsl(var(--primary));
}

.disabled{
  opacity: 0.5;
  cursor: not-allowed;
}