.products {

  color: hsl(var(--foreground));

  .main{
    @media screen and (max-width:768px) {
      overflow: auto;
    }
    .product_box{
      padding: 3rem 3em 1.25rem;
      .product{
        padding: 2rem 0;
        margin: 0 -1rem;
        width: calc(100% + 2rem);
        :deep(.pc-product_list){
          position: relative;
          .productTabbar{
            margin-bottom: 0.75rem;
          }

		      .priceList{
            padding: 1rem;
          }
          &::after,&::before{
            content: '';
            position: absolute;
            top: 0;
            width: 2rem;
            height: 100%;
            z-index: 2;
          }
          &::before{
            left: 0;
            background: linear-gradient(to left, transparent, hsl(var(--background)));
          }
          &::after{
            right: 0;
            background: linear-gradient(to right, transparent, hsl(var(--background)));
          }
        }
      }
    }

    .table_box{
      max-height: calc(100% - 44px);
      :deep(.el-table){
        height: 100%;
        border: 1px solid #EBEEF5;
        thead{
          .el-table__cell{
            background-color: #F2F3F5;
            .cell{
              color: hsl(var(--foreground));
            }
          }

        }
        tbody{
          &>tr:nth-child(even){
            .el-table__cell{
              // background-color: hsl(var(--primary) / 10%);
              // background-color: #f0f9ff;
              background-color: #eff6ff;
            }
          }
        }
      }
    }

  }
}