.products {

  .main{
    min-height: 0;
    border-radius: 8px;
    background-color: hsl(var(--layout-background));
    overflow: auto;

    .product_box{
      padding: 40px;
    }

    .el-table{
      --el-table-header-bg-color:hsl(var(--layout-background));
      --el-table-bg-color: hsl(var(--layout-background));
      --el-table-text-color:hsl(var(--foreground));
      --el-table-header-text-color:hsl(var(--foreground));
      --el-table-border-color:hsl(var(--foreground) / 10%);
      
    }
    .el-pagination{
      --el-pagination-bg-color:transparent;
      --el-pagination-text-color:hsl(var(--foreground));
    }
  }
}