.header_box{
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
}
.header {
  height: 60px;
  padding: 0.25rem 2.5rem 0;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  transition: background-color .3s,color .2s;
  border-bottom: 1px solid hsl(var(--border));
  @media screen and (max-width:768px) {
    padding: 0rem 1rem;
  }

  

  .container{
    max-width: 1200px;
    margin: 0 auto;

    .navigator{
      margin-left: 50px;
      li{
        // position: relative;
        padding: 0 0.5rem;
      }
      &>li+li{
        margin-left: 28px;
      }
      li.active{
        // color: hsl(var(--primary));
        // font-weight: 600;
      }
    }

    .slider_bck{
      position: relative;
      &::after{
        content: "";
        display: block;
        width: 0%;
        height: 2px;
        border-radius: 10px;
        position: absolute;
        bottom: 0;
        
        background-color: hsl(var(--foreground));
        transition: width .2s;
      }
      &:hover{
        &::after{
          width: 100%;
        }
      }
    }
    .slider_bck_center{
      &::after{
        transform-origin: center center ;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .slider_bck_left{
      &::after{
        left: 0;
        transform-origin: left center ;
      }
    }

    .tag{
      color: #20937E;
      background-color: #CBF5E7;
      padding: 2px 4px;
      font-size: 12px;
    }

    .icon_btn{
      width: 2.25rem;
      height: 2.25rem;
    }
    .user_icon{
      // width: auto;
      height: 2.25rem;
      padding: 0 0.5rem;
      .slider_bck{
        &::after{
          height: 1px;
        }
      }
      @media screen and (max-width:768px) {
        // width: 2.25rem;
        padding: 0 0.25rem;
      }
    }
  
    .menu{
      // width: 200px;
      padding: 6px;
      min-width: 140px;
      .menu_item{
        width: 100%;
        height: 2.5rem;
        &:hover{
          color: hsl(var(--primary));
          background-color: hsl(var(--primary) / 7%);
        }
      }
      .menu_item.active{
        color: hsl(var(--primary));
      }
    }

    .username{
      max-width: 120px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: baseline;
    }
    .rotate180{
      transform: rotate(-180deg);
    }
  }
}
.home_header{
  background-color: transparent;
  color: hsl(var(--colour-foreground));
  border-color: transparent;
  background-color: rgba(255, 255, 255, .02);
  backdrop-filter: blur(4px);
  .icon_btn,.user_icon{
    color: hsl(var(--colour-foreground));
  }
  .menu_item{
    color: hsl(var(--foreground));
  }
  .slider_bck{
    &::after{
      display: none !important;
    }
  }
  &:hover{
    background-color: rgba(255, 255, 255, .08);
  }
}
.shadow{
  box-shadow: var(--pop-shadow);
  &>.header{
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    .icon_btn,.user_icon{
      color: hsl(var(--foreground));
    }
  }
  .slider_bck{
    &::after{
      display: block !important;
    }
  }
}
