.pc-obtain_proxy {
  box-sizing: border-box;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 20px;
  border-radius: 10px;
  background-color: #fff;

  @color: #FDB713;
  @color-show: #d09712;
  @color-black: #191D26;
  &>.obtain_proxy {
    width: 100%;

    &>table {
      width: 100%;
      height: 116px;

      &>tbody {
        display: inline-block;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 0px 58px;

        &>tr {
          display: inline-block;
          width: 100%;
          // height: 40px;

          &>td {
            display: inline-block;
            width: 33%;


            &>span.head {
              display: block;
              width: 25%;
              font-size: 18px;
              
              font-weight: 400;
              color: @color-black;
              text-align: left;
              // line-height: 40px;
              white-space: nowrap;
              margin-bottom: 10px;
            }
            &>.el-select{
              width: 65%;
            }

            &>.el-cascader {
              width: 65%;

              ::v-deep .el-cascader-menu {
                width: 305px;
                // height: 400px;
                min-height: 80px;

                & .el-cascader-menu__wrap {
                  height: auto;
                  min-height: 100%;
                  max-height: 400px;
                  display: flex;
                }

                & .el-cascader-menu__list {
                  flex: 1;
                  width: 100%;
                  min-height: 100%;
                }
              }
            }

            &>.el-input {
              width: 65%;
              height: 40px;
            }

            & img {
              width: 23px;
              height: 23px;
              cursor: pointer;
              vertical-align: -6px;
              margin-left: 12px;
            }

            &>.el-button {
              min-width: 116px;
              height: 33px;
              font-size: 18px;
              
              font-weight: 400;
              color: #FFFFFF;
              line-height: 0;
              background-color: @color;
              border-radius: 10px;
              border: 0px;
              margin-top: 30px;
            }
          }
        }

        &>tr:nth-child(2) {
          margin-top: 16px;
        }
      }
    }

    &>.btn_sum {
      box-sizing: border-box;
      padding-left: 65px;
      display: flex;
      align-items: center;
      margin-top: 10px;

      &>.el-button {
        height: 28px;
        font-size: 12px;
        font-family: Roboto;
        font-weight: 400;
        color: #666666;
        background-color: #fff;
        border-radius: 5px;
        padding-top: 0px;
        padding-bottom: 0px;

        & i {
          margin-right: 10px;
          transform: rotate(90deg);
        }

        &:hover {
          color: @color;
        }
      }
    }

    &>.line {
      height: 42px;
      width: 94%;
      box-sizing: border-box;
      margin: 0 auto;
      background-image: linear-gradient(to right, #F2F2F2 75%, rgba(255, 255, 255, 0) 0%);
      /* 35%设置虚线点x轴上的长度 */
      background-position: bottom;
      /* top配置上边框位置的虚线 */
      background-size: 15px 2px;
      /* 第一个参数设置虚线点的间距；第二个参数设置虚线点y轴上的长度 */
      background-repeat: repeat-x;
    }

    &>.p_box {
      display: flex;
      align-items: center;
      margin-left: 70px;
      margin-top: 10px;
      margin-bottom: 10px;

      &>img {
        width: 21px;
        height: 21px;
        margin-right: 13px;
      }

      &>p {
        font-size: 16px;
        
        font-weight: 400;
        color: #999999;

        &>i {
          color: @color;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &>.content {
      margin: 0px auto;
      width: 92%;
      height: 453px;
      box-sizing: border-box;
      overflow: hidden;
      overflow-y: scroll;
      padding: 0px 40px 35px 40px;
      border-radius: 15px;
      background-color: #F7F7F7;

      &>p {
        font-size: 18px;
        
        font-weight: 400;
        color: @color-black;
        line-height: 33px;
      }

      &>p.tips {
        color: #888;
      }
    }

    ::v-deep .el-table__body {
      display: block;
      width: 100% !important;

      &>tbody {
        display: block;
        width: 100%;
      }
    }

    ::v-deep .el-table tr {
      width: 100%;
      height: 32px;
      display: flex;

      &>th {
        flex: 1;
        font-size: 14px;
        text-align: center;
        padding-top: 8px;
        
        font-weight: 400;
        color: #FFFFFF;
        border: none;
        background-color: #5c5c5c;
      }

      &>th.gutter {
        display: none;
      }

      &>td {
        flex: 1;
        font-size: 14px;
        text-align: center;
        
        font-weight: 400;
        color: #333333;
        // border: none;
        padding: 0px;

        & .el-button {
          width: 78px;
          height: 26px;
          font-size: 14px;
          
          font-weight: 400;
          line-height: 0;
          color: #666;
          border-radius: 10px;
          padding: 0px;
          background-color: #E7E7E7;
        }

        &>.cell {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .message {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &>p.channels {
      display: block;
      width: 100%;
      margin-left: 70px;
      font-size: 14px;
      font-family: Roboto;
      font-weight: 400;
      color: #999;
      margin-top: 15px;
      transform: skew(0deg) !important;

      &>i {
        color: @color;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      &>img {
        width: 22px;
        height: 22px;
        margin-right: 6px;
        vertical-align: -6px;
      }
    }

    ::v-deep .el-table__header {
      display: block;
      width: 100% !important;

      &>thead {
        display: block;
        width: 100%;

        &>tr {
          width: 100%;
        }
      }
    }
  }

  &>.null_commodity {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &>img {
      width: 468px;
      height: 333px;
      margin-bottom: 21px;
    }

    &>p {
      font-size: 18px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #999999;
      margin-bottom: 41px;
    }

    &>.el-button {
      width: 152px;
      height: 48px;
      font-size: 16px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      background-color: #77ADE5;

      &>span>img {
        width: 34px;
        height: 34px;
        vertical-align: -11px;
        margin-right: 8px;
      }
    }
  }


  ::v-deep input::-webkit-outer-spin-button,
  ::v-deep input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
  }

  ::v-deep input[type='number'] {
    -moz-appearance: textfield;
  }
}