.obtain_proxy {

  @color: #FDB713;
  @color-show: #d09712;
  @color-black: #191D26;

  .main{
    min-height: 0;
    border-radius: 8px;
    @media screen and (max-width:768px) {
      overflow: auto;
    }

    .primary_text{
      color: hsl(var(--primary));
    }
    .card{
      background-color: hsl(var(--background));
      color: hsl(var(--foreground) / 70%);
      border-radius: 8px;
      padding: 16px;
    }

    .line {
      height: 2px;
      background-image: linear-gradient(to right, hsl(var(--foreground) / 50%) 75%, rgba(255, 255, 255, 0) 0%);
      background-position: bottom;
      background-size: 15px 2px;
      background-repeat: repeat-x;
    }

    .grey{
      border-radius: 8px;
      padding: 20px;
      border: 1px solid hsl(var(--border));
      letter-spacing: 1px;
    }

    .table_box{
      max-width: 100%;
      :deep(.el-table){
        border: 1px solid #EBEEF5;
        width: 100%;
        max-height: 100%;
        thead{
          .el-table__cell{
            background-color: #F2F3F5;
            .cell{
              color: hsl(var(--foreground));
            }
          }

        }
      }
    }

    .btn{
      box-shadow: 0 0 0 1px hsl(var(--primary));
      color: hsl(var(--primary));
      &:hover{
        background-color: hsl(var(--primary));
        color: hsl(var(--colour-foreground));
      }
    }
  }

}