.obtain_proxy {

  @color: #FDB713;
  @color-show: #d09712;
  @color-black: #191D26;

  .main{
    min-height: 0;
    border-radius: 8px;
    @media screen and (max-width:768px) {
      overflow: auto;
    }

    .primary_text{
      color: hsl(var(--primary));
    }
    .card{
      background-color: hsl(var(--foreground));
      color: hsl(var(--background) / 70%);
      border-radius: 8px;
      padding: 16px;
    }

    .line {
      height: 2px;
      background-image: linear-gradient(to right, hsl(var(--foreground) / 50%) 75%, rgba(255, 255, 255, 0) 0%);
      background-position: bottom;
      background-size: 15px 2px;
      background-repeat: repeat-x;
    }

    .grey{
      border-radius: 8px;
      padding: 20px;
      background-color: hsl(var(--neutral) / 10%);
      color:hsl(var(--background) / 80%);
      letter-spacing: 1px;
      .tip{
        color:hsl(var(--background) / 50%)
      }
    }

    .table_box{
      max-width: 100%;
      :deep(.el-table){
        width: 100%;
        max-height: 100%;
        border-radius: 8px;
        thead{
          .el-table__cell{
            background-color: hsl(var(--primary));
            .cell{
              color: hsl(var(--foreground));
            }
          }

        }
        tbody{
          &>tr:nth-child(even){
            .el-table__cell{
              // background-color: hsl(var(--primary) / 10%);
              // background-color: #f0f9ff;
              background-color: #eff6ff;
            }
          }
        }
      }
    }
  }

}