.pc-overview {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  // display: flex;
  position: relative;
  @color:hsl(var(--primary));


  .place {
    height: 50px;
    // z-index: 99;
    span {
      font-weight: 500;
    }

    .search {
      :deep(.el-input__wrapper){
        // border: none;
        box-shadow:none;
        cursor: pointer;
        // padding: 0;
        // width: 230px;
        .el-input__prefix{
          display: none;
        }
      }
    }
  }

  .main{
    min-height: 0;
    border-radius: 8px;
    // background-color: hsl(var(--layout-background));
    overflow: auto;
    & > .subscribe {
      display: flex;
      height: 100%;
      & > .echarts_left {
        flex: 8.5;
        height: 100%;
  
        & > .flow {
          width: 100%;
          display: flex;
          border-radius: 10px;
          // justify-content: space-between;
  
          & > .box {
            flex: 1;
            // min-width: 265px;
            padding: 12px;
            border-radius: 10px;
            // background-color: #fff;
            background-color: hsl(var(--layout-background));
            justify-content: space-between;
  
            & > .box_top {
              align-items: flex-start;
  
              & > img {
                width: 60px;
                height: 60px;
                margin-top: -10px;
              }
            }
            & > .box_bottom {
              width: 100%;
              & > .number {
                margin-top: auto;
  
                font-weight: 500;
                color: @color;
              }
              & > .btn {
                margin-left: auto;
                border-radius: 5px;
                // background-color: #f4b223;
                // color: #fff;
                &:hover {
                  opacity: 0.7;
                }
              }
            }
          }
        }
  
        & > .outflow_echart {
          // width: 100%;
          // height: 380px;
          position: relative;
          border-radius: 10px;
          // background-color: #fff;
          background-color: hsl(var(--layout-background));
          flex: 1;
          min-height: 0;
  
          & > .myEchart {
            width: 100%;
            height: 100%;
          }
  
          & > .echart_picker {
            position: absolute;
            top: 25px;
            right: 10px;
            z-index: 2;
          }
        }
  
        & > .day_echart {
          // width: 100%;
          // height: 380px;
          // margin-top: 25px;
          border-radius: 10px;
          position: relative;
          // background-color: #fff;
          background-color: hsl(var(--layout-background));
          flex: 1;
          min-height: 0;
  
          & > .line_echart {
            width: 100%;
            height: 100%;
          }
  
          & > .picker {
            position: absolute;
            top: 20px;
            right: 0;
            z-index: 2;
  
            :deep(.el-input__wrapper){
              // border: none;
              box-shadow:none !important;
              cursor: pointer;
              // padding: 0;
              // width: 230px;
              .el-input__prefix{
                display: none;
              }
            }
          }
  
          & > img {
            position: absolute;
            width: 17px;
            height: 17px;
            top: 31px;
            right: 128px;
            z-index: 2;
          }
        }
      }
  
      & > .right {
        flex: 2.5;
  
        & > .notice {
          width: 100%;
          // height: 300px;
          box-sizing: border-box;
          border-radius: 8px;
          background-color: #fff9f2;
          background-color: hsl(var(--layout-background));
          padding: 12px;
          h2 {
            color: hsl(var(--primary));
          }
          .notice_box {
            padding: 20px 0;
            position: relative;
            height: 120px;
            overflow-y: hidden;
            & > .mark,
            &::after {
              content: "";
              display: block;
              width: 100%;
              height: 20px;
              position: absolute;
              left: 0;
            }
            & > .mark {
              top: 0;
              background: linear-gradient(to bottom, hsl(var(--layout-background)) 40%, transparent);
            }
            &::after {
              bottom: 0;
              background: linear-gradient(to top, hsl(var(--layout-background)), transparent);
            }
          }
          p {
            color: hsl(var(--foreground) / 60%);
  
            white-space: pre-wrap;
          }
          .scroll {
            --parentHeight: 0px;
            position: absolute;
            animation: scroll 8s linear infinite;
            @keyframes scroll {
              0% {
                transform: translateY(var(--parentHeight));
              }
              100% {
                transform: translateY(-100%);
              }
            }
          }
          &:hover {
            p {
              display: block;
            }
          }
        }
        & > .date_flow {
          box-sizing: border-box;
          flex: 1;
          min-height: 0;
          width: 100%;
          border-radius: 10px;
          background-color: #fff;
          background-color: hsl(var(--layout-background));
  
          ::v-deep .el-table {
            height: 100%;
  
            &::before {
              content: "";
              height: 0px;
            }
          }
        }
        ::v-deep .el-table__cell {
          width: 50%;
          border: none !important;
        }
  
        ::v-deep th.el-table__cell {
          background-color: #5c5c5c;
        }
  
        ::v-deep td.el-table__cell {
          text-align: center;
          height: 60px;
  
          font-weight: 400;
          color: #666666;
  
          &:nth-child(2) {
            color: @color;
  
            & .unit {
              font-size: 12px;
            }
          }
        }
  
        ::v-deep .is-leaf .cell {
  
          font-weight: 400;
          color: #ffffff;
          text-align: center !important;
        }
  
        ::v-deep .el-table__header {
          width: 100% !important;
          table-layout: auto !important;
        }
  
        ::v-deep .el-table__body-wrapper {
          width: 100%;
          height: calc(100% - 64px) !important;
          display: flex;
  
          .el-table__body {
            position: relative;
            display: block;
            width: 100% !important;
            height: 100%;
            overflow-y: overlay;
  
            tbody {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  
    .null_data {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      // font-family: Microsoft YaHei;
      ::v-deep .el-empty {
        .el-empty__image {
          width: 100px;
        }
      }
    }
  
    & > .ip {
      .ip_echart {
        width: 100%;
        height: 400px;
        // background-color: #fff;
        background-color: hsl(var(--layout-background));
        border-radius: 8px;
        position: relative;
        #ipEchart {
          height: 100%;
          height: 100%;
        }
        ::v-deep .pc-picker {
          position: absolute;
          right: 20px;
          top: 20px;
        }
      }
  
      .table {
        padding: 30px;
        // background-color: #fff;
        background-color: hsl(var(--layout-background));
        border-radius: 8px;
        margin-top: 20px;
        .more {
          width: fit-content;
          margin-top: 12px;
          height: 40px;
          padding: 0 30px;
          background-color: #f5f7f9;
          color: #353535;
          border-radius: 8px;
          font-size: 14px;
          i {
            margin-top: 1px;
            margin-right: 5px;
          }
          &:hover {
            background-color: #eee;
          }
        }
      }
    }
  
    & > .balance {
      position: relative;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      // background-color: #fff;
  
      ::v-deep .el-table__cell {
        text-align: center;
        height: 53px;
        font-size: 14px;
  
        font-weight: 400;
        color: #999999;
        border: none !important;
  
        & > .cell {
          position: relative;
          overflow: visible;
  
          & .be_overdue {
            position: absolute;
            right: 38px;
            bottom: -3px;
            opacity: 0.4;
          }
        }
      }
  
      ::v-deep .el-table {
        tbody {
          & > tr:nth-child(odd) {
            background-color: #f8fcff;
          }
        }
      }
  
      ::v-deep .el-table__body tr.current-row > td.el-table__cell {
        background-color: #e5e5e5;
      }
  
      ::v-deep th.el-table__cell {
        height: 40px;
        font-size: 14px;
  
        font-weight: 400;
        color: #fff;
        background-color: #5c5c5c;
      }
  
      ::v-deep .el-table--border::after,
      .el-table--group::after,
      .el-table::before {
        background-color: transparent;
      }
  
      & > .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    ::v-deep ::-webkit-scrollbar {
      position: absolute;
      z-index: 10;
      width: 7px;
    }
  
    ::v-deep ::-webkit-scrollbar-thumb {
      background-color: #dadada;
    }
  }


}
