.home {
  // padding-top: 80px;
  @color: #FDB713;
  @color-show: #d09712;
  @color-black: #191D26;
  background-color: hsl(var(--page-background));

  // position: relative;

  .box{
    // width: 100%;
    padding: 0 40px;
    .container{
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      
      .primary_text{
        color: hsl(var(--primary));
      }
      .title{
        line-height: 1.5;
        white-space: pre-wrap;
        // font-weight: 500;
        // font-family: Space Grotesk;
      }
      .description{
        line-height: 1.5;
        color: hsl(var(--foreground) / 60%);
        white-space: pre-wrap;
      }
      .green{
        color: hsl(var(--success));
      }
    
    }
  }
  .introduce{
    background-image: url('../../../assets/images/home/star.png');
    background-repeat: no-repeat;
    background-position: 50% 90%;
    padding-bottom: 40px;
    .container{
      padding: 64px 0 120px;
      position: relative;
      z-index: 1;
      .img_box{
        position: absolute;
      }
      .intro1{
        top: 4vh;
        right: 15vh;
      }
      .intro2{
        top: 16vh;
        left: 0;
        width: 231px;
        border-radius: 12px;
        background-color: hsl(var(--page-card));
        padding: 20px;
        p{
          white-space: nowrap;
        }
      }
      .intro3{
        bottom: 8vh;
        right: 0;
      }
    }

    &>.background{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      overflow: hidden;
      // inset: 0;
      .bck{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity 0.5s;
      }
    }
  }

  

  .split{
    background-color: hsl(var(--page-neutral));
    // height: 80px;
    padding-bottom: 40px;
    .trans{
      position: absolute;
      top: 0;
      left: -20px;
      width: calc(100% + 40px);
      transform: translateY(-100%);
      border-width: 0 60px 40px 60px;
      border-style: solid;
      border-color: transparent transparent hsl(var(--page-neutral)) transparent;
    }
  }

  .why_choose{
    .container{
      padding-top: 64px;
      position: relative;

      &>ul.three{
        margin-top: 64px;
        li{
          border-radius: 20px;
          background-color: hsl(var(--page-card));
          .img_box{
            width: 100%;
            height: 200px;
            img{
              width: 100%;
              height: auto;
            }
          }
          &>.content{
            height: 130px;
          }
        }
      }   
      &>ul.four{
        margin-top: 64px;
        li{
          height: 100%;
          border-radius: 20px;
          border: 1px solid hsl(var(--border));
          .img_box{
            width: 100%;
            img{
              width: 100%;
              height: auto;
            }
          }
          &>.content{
            height: 100px;
          }
        }
      }
    }
  }

  .world_split{
    padding-bottom: 0;
    padding-top: 40px;
    .container>div{
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
    }
    .trans{
      z-index: 2;
      bottom: 0;
      transform: translateY(100%);
      border-width: 40px 60px 0 60px;
      border-color: hsl(var(--page-neutral)) transparent transparent  transparent;
    }
  }

  .world{
    // width: 100%;
    // padding: 0;
    background-color: #0a070a;
    // background: linear-gradient(to bottom,#09070a,hsl(var(--page-background)));
    &>.container{
      // max-width: 100%;
      position: relative;
      padding: 64px 0;
      .bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .country{
        position: absolute;

        .country-box{
          color: hsl(var(--foreground) / 60%);
          border-radius: 999px;
          border: 1px solid hsl(var(--foreground) / 10%);
          // box-shadow: 0 0 0 1px hsl(var(--foreground) / 10%);
          cursor: default;
          background-color: #12141a;
          .dot{
            box-sizing: border-box;
            width: 20px;
            height: 20px;
            background-color: hsl(var(--foreground) / 10%);
            border-radius: 50%;
            opacity: 0;
            width: 0;
            height: 0;
            overflow: hidden;
            transition: all .1s;
            transform-origin: center center;
            
            &::before{
              content: "";
              display: block;
              height: 50%;
              width: 50%;
              border-radius: 50%;
              background-color: hsl(var(--success));
            }
          }
          &:hover{
            box-shadow: 20px 20px 40px #3B82F6;
            box-shadow: 0 0 0 1px #3B82F6,0 10px 30px -5px  #3B82F6;
            .dot{
              width: 20px;
              height: 20px;
              opacity: 1;
            }
          }
        }
      }
      .Canada{
        top: 15%;
        left: 16%;
      }
      .France{
        top: 19%;
        left: 48%;
      }
      .Brazil{
        left: 34%;
        bottom: 30%;
      }
      .Australia{
        left: 83%;
        bottom: 20%;
      }
      .Malaysia{
        left: 76%;
        bottom: 36%;
      }

      .content{
        position: absolute;
        inset: 0;
        .container{
          .text{
            padding: 20px 0;
            align-self: flex-end;
            // transform: translateY(20px);
            p{
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }

  .app{
    .container{
      max-width: 1400px;
      // height: 500px;
      // background-image: url('../../../assets/images/home/app.webp');
      // background-size: 100%;
      // background-position: 50% 70%;
      // background-repeat: no-repeat;d

      padding-top: 40px;
      position: relative;
      
    }
  }

  .package{
    .container{
      padding: 32px 0 128px;
    }
  }
  // .content {
  //   width: 100vw;

  //   & > .exhibition {
  //     position: relative;
  //     // width: 100%;
  //     padding: 0 48px;
  //     // height: 640px;
  //     // background-color: #DAEAF4;
  //     // background: url('../../../assets/pc_img/home_img/backround-cabinet.webp') no-repeat;
  //     // background-size: 100% 100%;

  //     & > .exhibition_heart {
  //       width: 100%;
  //       max-width: 1266px;
  //       height: 100%;
  //       margin: 0 auto;
  //       display: flex;
  //       // justify-content: space-between;
  //       align-items: center;

  //       & > .welcome_text {
  //         // width: 100%;
  //         max-width: 760px;
  //         height: 100%;
  //         padding-top: 100px;
  //         box-sizing: border-box;
  //         padding-bottom: 100px;
  //         // animation: slide-in-fwd-left 1s ease 0s 1 normal none;
  //         font-size: 16px;
  //         position: relative;

  //         & > h1 {
  //           z-index: 1;
  //           font-weight: bold;
  //           // font-weight: normal;
  //           font-size: 36px;
  //           color: #2e2e2e;
  //           line-height: 1.2;
  //         }

  //         & > p {
  //           // padding-left: 16px;
  //           // text-indent: 32px;
  //           margin-top: 40px;
  //           // width: 770px;
  //           font-weight: 500;
  //           font-size: 16px;
  //           line-height: 1.5;
  //           // color: #5b5b5b;
  //         }

  //         & > ul {
  //           width: 580px;
  //           margin-top: 40px;
  //           display: flex;
  //           flex-wrap: wrap;
  //           color: #333;
  //           li {
  //             svg {
  //               width: 12px;
  //               height: 12px;
  //               margin-right: 4px;
  //               path {
  //                 fill: #f62a2d;
  //               }
  //             }
  //             p {
  //               font-family: SourceHanSansCN, SourceHanSansCN;
  //               font-size: 14px;
  //               font-weight: 500;
  //               color: #2e2e2e;
  //               white-space: nowrap;
  //             }
  //           }
  //           & > li:nth-child(2),
  //           & > li:nth-child(4) {
  //             margin-left: 30px;
  //           }
  //           & > li:nth-child(3),
  //           & > li:nth-child(4) {
  //             margin-top: 10px;
  //           }
  //         }

  //         & > .btn_sum {
  //           position: relative;
  //           display: flex;
  //           margin-top: 60px;

  //           & > .el-button:nth-child(1) {
  //             width: 180px;
  //             height: 42px;
  //             margin-left: 5px;
  //             font-size: 14px;

  //             color: #666;
  //             font-weight: 400;
  //             border-radius: 8px;
  //             background-color: #e4e4e4;
  //             transition: all 0.2s linear;
  //             position: relative;
  //             z-index: 2;
  //             overflow: hidden;

  //             &::before {
  //               content: "";
  //               position: absolute;
  //               z-index: -1;
  //               top: 0px;
  //               left: 0px;
  //               width: 100%;
  //               height: 100%;
  //               background-color: @color-black;
  //               transform: scaleX(0);
  //               transform-origin: right center;
  //             }

  //             &:hover::before {
  //               transform: scaleX(1);
  //               transform-origin: left center;
  //               transition: transform 0.24s ease-in-out;
  //             }

  //             &:hover {
  //               color: #fff;
  //               border: 2px solid #fff;
  //             }
  //           }

  //           & > .el-button:nth-child(2) {
  //             width: 180px;
  //             height: 42px;
  //             margin-left: 31px;
  //             border-radius: 10px;
  //             font-size: 14px;

  //             font-weight: 400;
  //             color: #fff;
  //             background-color: @color;
  //             transition: all 0.2s linear;
  //             border: 0px;
  //             position: relative;
  //             z-index: 2;
  //             overflow: hidden;

  //             &::before {
  //               content: "";
  //               position: absolute;
  //               z-index: -1;
  //               top: 0px;
  //               left: 0px;
  //               width: 100%;
  //               height: 100%;
  //               background-color: @color-black;
  //               // -webkit-transform: scaleX(0);
  //               // -ms-transform: scaleX(0);
  //               transform: scaleX(0);
  //               // -webkit-transform-origin: right center;
  //               // -ms-transform-origin: right center;
  //               transform-origin: right center;
  //               // -webkit-transition: -webkit-transform .24s ease-in-out;
  //               // transition: -webkit-transform .24s ease-in-out;
  //               // -o-transition: transform .24s ease-in-out;

  //               // transition: transform .24s ease-in-out, -webkit-transform .24s ease-in-out;
  //             }

  //             &:hover::before {
  //               // -webkit-transform: scaleX(1);
  //               // -ms-transform: scaleX(1);
  //               transform: scaleX(1);
  //               // -webkit-transform-origin: left center;
  //               // -ms-transform-origin: left center;
  //               transform-origin: left center;
  //               transition: transform 0.24s ease-in-out;
  //             }

  //             &:hover {
  //               color: #fff;
  //               border: 2px solid #fff;
  //             }

  //             & i {
  //               margin-left: 5px;
  //               font-size: 16px;
  //               vertical-align: -2px;
  //               transition: all 0.3s linear;
  //             }

  //             &:hover span > i {
  //               padding-right: 0px;
  //               margin-left: 15px;
  //               margin-right: -10px;
  //             }
  //           }
  //         }
  //       }
  //       .back {
  //         flex: 1;
  //         min-width: 0;
  //         .bckimg {
  //           width: 100%;
  //         }
  //       }
  //     }

  //     & > .gift_bag_box {
  //       position: absolute;
  //       right: 60px;
  //       top: 5px;
  //       width: 178px;
  //       height: 148px;
  //       cursor: pointer;

  //       & > .Fireworks_background {
  //         position: absolute;
  //         top: 0px;
  //         left: 0px;
  //         z-index: 1;
  //         width: 100%;
  //         height: 100%;
  //         animation: blink-1 1.5s linear 0s infinite normal none;
  //       }

  //       & > .gift_bag {
  //         position: absolute;
  //         top: 29px;
  //         left: 25px;
  //         z-index: 2;
  //         width: 75%;
  //         height: 65%;
  //         animation: wobble-hor-bottom 4s linear 0s infinite normal none;
  //       }

  //       & > .hint {
  //         position: absolute;
  //         bottom: -245px;
  //         left: -25px;
  //         width: 234px;
  //         min-height: 253px;
  //         background-color: #ffffff;
  //         border-radius: 5px;
  //         box-shadow: 0 0 10px #dfdfdf;

  //         & > .line {
  //           width: 167px;
  //           height: 3px;
  //           margin: 0 auto;
  //           background-color: @color;
  //           border-radius: 2px;
  //         }

  //         & > img {
  //           display: block;
  //           margin: 28px auto;
  //           margin-bottom: 19px;
  //         }

  //         & > h1 {
  //           text-align: center;
  //           font-size: 14px;

  //           font-weight: 500;
  //           color: #333333;
  //           margin-bottom: 8px;
  //         }

  //         & > p {
  //           width: 197px;
  //           font-size: 12px;

  //           font-weight: normal;
  //           color: #999999;
  //           text-align: center;
  //           margin: 0 auto;
  //           line-height: 16px;
  //           strong {
  //             font-weight: bold;
  //             color: #555;
  //           }
  //         }

  //         & > .el-button {
  //           display: block;
  //           width: 125px;
  //           height: 27px;
  //           font-size: 12px;

  //           font-weight: 500;
  //           color: #ffffff;
  //           padding: 0px;
  //           margin: 20px auto;
  //           margin-bottom: 5px;
  //           border: 0px;
  //           background-color: @color;
  //           border-radius: 5px;
  //           position: relative;
  //           z-index: 2;
  //           overflow: hidden;

  //           &::before {
  //             content: "";
  //             position: absolute;
  //             z-index: -1;
  //             top: 0px;
  //             left: 0px;
  //             width: 100%;
  //             height: 100%;
  //             background-color: @color-black;
  //             -webkit-transform: scaleX(0);
  //             -ms-transform: scaleX(0);
  //             transform: scaleX(0);
  //             -webkit-transform-origin: right center;
  //             -ms-transform-origin: right center;
  //             transform-origin: right center;
  //             -webkit-transition: -webkit-transform 0.24s ease-in-out;
  //             transition: -webkit-transform 0.24s ease-in-out;
  //             -o-transition: transform 0.24s ease-in-out;
  //             transition: transform 0.24s ease-in-out;
  //             transition: transform 0.24s ease-in-out,
  //               -webkit-transform 0.24s ease-in-out;
  //           }

  //           &:hover::before {
  //             -webkit-transform: scaleX(1);
  //             -ms-transform: scaleX(1);
  //             transform: scaleX(1);
  //             -webkit-transform-origin: left center;
  //             -ms-transform-origin: left center;
  //             transform-origin: left center;
  //           }

  //           & img {
  //             width: 18px;
  //             height: 13px;
  //             margin-left: 2px;
  //             vertical-align: -2px;
  //           }
  //         }
  //       }
  //     }
  //   }

  //   & > .introduce {
  //     width: 100vw;
  //     background-color: #fff;
  //     padding-top: 13px;

  //     & > .choose {
  //       width: 100%;

  //       & > .choose_heart {
  //         width: 1266px;
  //         // height: 600px;
  //         box-sizing: border-box;
  //         padding-top: 50px;
  //         margin: 0 auto;

  //         & > h1 {
  //           font-size: 30px;
  //           color: #183b56;
  //           transform: skew(-8deg);
  //           font-weight: 600;
  //           text-align: center;

  //           & > span {
  //             color: @color;
  //           }
  //         }

  //         & > .choose_item {
  //           width: 100%;
  //           box-sizing: border-box;
  //           margin-top: 46px;
  //           display: flex;
  //           justify-content: space-between;

  //           & > li {
  //             box-sizing: border-box;
  //             width: 380px;
  //             // height: 241px;
  //             background: #ffffff;
  //             box-shadow: 0px 0 4px 0px rgba(0, 0, 0, 0.16);
  //             border-radius: 8px;
  //             padding: 22px;
  //             transition: all 0.2s linear;

  //             &:hover {
  //               box-shadow: 0px 1px 19px 2px rgba(81, 81, 81, 0.16);
  //             }

  //             & > h2 {
  //               margin-top: 18px;
  //               font-weight: bold;
  //               font-size: 18px;
  //               color: #1b2233;
  //               line-height: 30px;
  //             }

  //             & > p {
  //               margin-top: 10px;
  //               width: 100%;
  //               font-weight: 400;
  //               font-size: 14px;
  //               color: #636974;
  //               line-height: 24px;
  //               word-break: break-all;
  //               // text-align:justify;
  //               // text-justify:inter-ideograph;
  //             }
  //           }
  //         }
  //       }
  //     }

  //     & > .agency_service {
  //       width: 100%;
  //       margin-top: 68px;

  //       & > .agency_service_heart {
  //         width: 1266px;
  //         margin: 0 auto;
  //         background: #f8f9fb;
  //         border-radius: 6px;
  //         min-height: 378px;
  //         background-image: url(../../../assets/pc_img/home_img/vantage4.webp);
  //         background-size: auto 100%;
  //         background-position: right bottom;
  //         background-repeat: no-repeat;
  //         .text {
  //           width: 600px;
  //           margin-left: 100px;
  //           h2 {
  //             width: fit-content;
  //             font-weight: normal;
  //             color: #061d4d;
  //             font-size: 28px;
  //             // background-image:linear-gradient(#fae5b7) ;
  //             // background-size: 100% 9px;
  //             // background-position: 0 28px;
  //             // background-repeat: no-repeat;
  //           }
  //           & > p {
  //             margin-top: 24px;
  //             color: #374459;
  //             line-height: 26px;
  //             font-size: 14px;
  //           }
  //           ul {
  //             margin-top: 35px;
  //             li {
  //               svg {
  //                 width: 12px;
  //                 height: 12px;
  //                 margin-right: 4px;
  //                 path {
  //                   fill: @color;
  //                 }
  //               }
  //               p {
  //                 font-family: SourceHanSansCN, SourceHanSansCN;
  //                 font-weight: 400;
  //                 font-size: 13px;
  //                 color: #374459;
  //               }
  //             }
  //             & > li + li {
  //               margin-left: 24px;
  //             }
  //           }
  //         }
  //       }
  //     }

  //     & > .control_console {
  //       width: 100%;
  //       margin-top: 68px;

  //       & > .control_console_heart {
  //         width: 1266px;
  //         margin: 0 auto;
  //         background: #f8f9fb;
  //         border-radius: 6px;
  //         min-height: 511px;
  //         background-image: url(../../../assets/pc_img/home_img/vantage5.webp);
  //         background-size: auto 100%;
  //         background-position: left bottom;
  //         background-repeat: no-repeat;

  //         display: flex;
  //         align-items: center;
  //         justify-content: flex-end;
  //         .text {
  //           width: 500px;
  //           margin-right: 100px;
  //           h2 {
  //             width: fit-content;
  //             font-weight: normal;
  //             color: #061d4d;
  //             font-size: 28px;
  //             // background-image:linear-gradient(#fae5b7) ;
  //             // background-size: 100% 9px;
  //             // background-position: 0 28px;
  //             // background-repeat: no-repeat;
  //           }
  //           & > p {
  //             margin-top: 24px;
  //             color: #374459;
  //             line-height: 26px;
  //             font-size: 14px;
  //           }
  //           & > p + h2 {
  //             margin-top: 14px;
  //           }
  //         }
  //       }
  //     }

  //     & > .worldwide_proxy {
  //       width: 100%;
  //       height: 830px;
  //       margin-top: 68px;
  //       // background: url('../../../assets/pc_img/home_img/worldwide_proxy\ background.png') no-repeat;
  //       // background-size: 100% 100%;
  //       background-color: #2a2f39;

  //       & > .worldwide_proxy_heart {
  //         width: 1266px;
  //         height: 100%;
  //         margin: 0 auto;
  //         box-sizing: border-box;
  //         padding-top: 70px;

  //         & > .header_data_box {
  //           width: 100%;
  //           margin-bottom: 32px;
  //           display: flex;
  //           justify-content: space-between;

  //           & > .header_data_left {
  //             & > h1 {
  //               font-size: 30px;

  //               font-weight: bold;
  //               color: #ffffff;
  //               line-height: 44px;
  //               transform: skew(-8deg);
  //             }

  //             & > p {
  //               font-size: 12px;

  //               font-weight: normal;
  //               color: @color;
  //               line-height: 44px;
  //             }
  //           }

  //           & > .header_data_right {
  //             & > h1 {
  //               display: flex;
  //               margin-bottom: 24px;

  //               & > p {
  //                 position: relative;
  //                 font-size: 28px;

  //                 font-weight: bold;
  //                 color: @color;
  //                 line-height: 44px;

  //                 &::before {
  //                   content: "";
  //                   position: absolute;
  //                   left: 2px;
  //                   bottom: -9px;
  //                   width: 100%;
  //                   height: 1px;
  //                   background-image: linear-gradient(
  //                     to right,
  //                     #ffb200 75%,
  //                     rgba(255, 255, 255, 0) 0%
  //                   );
  //                   /* 35%设置虚线点x轴上的长度 */
  //                   background-position: bottom;
  //                   /* top配置上边框位置的虚线 */
  //                   background-size: 6px 1px;
  //                   /* 第一个参数设置虚线点的间距；第二个参数设置虚线点y轴上的长度 */
  //                   background-repeat: repeat-x;
  //                 }
  //               }

  //               & > span {
  //                 font-size: 20px;
  //                 color: #ffffff;
  //                 margin-top: 13px;
  //                 margin-left: 15px;
  //               }
  //             }
  //           }
  //         }

  //         & > .echart_map {
  //           // width: calc(1958px * 0.8);
  //           // height: 1092px;
  //           width: 944px;
  //           height: 488px;
  //           margin: 0 auto;
  //           background-image: url(../../../assets/pc_img/home_img/earth.webp);
  //           background-size: 100% 100%;
  //           position: relative;

  //           .pos {
  //             font-size: 15px;
  //             font-weight: 500;
  //             font-size: 17px;
  //             position: absolute;
  //             & > p:first-child {
  //               color: #fff;
  //             }
  //             & > p:last-child {
  //               color: @color;
  //             }
  //             &::before {
  //               content: "";
  //               width: 12px;
  //               height: 12px;
  //               border-radius: 50%;
  //               background-color: @color;
  //               position: absolute;
  //               left: -20px;
  //               top: 6px;
  //             }
  //             &::after {
  //               content: "";
  //               width: 14px;
  //               height: 14px;
  //               border-radius: 50%;
  //               border: 1px solid @color;
  //               position: absolute;
  //               left: -22px;
  //               top: 4px;
  //             }
  //           }
  //           .Canada {
  //             left: 140px;
  //             top: 160px;
  //           }
  //           .France {
  //             left: 485px;
  //             top: 215px;
  //           }
  //           .Brazil {
  //             left: 313px;
  //             top: 360px;
  //           }
  //           .Australia {
  //             left: 820px;
  //             top: 385px;
  //           }
  //           .Malaysia {
  //             left: 756px;
  //             top: 328px;
  //           }
  //         }

  //         & > .el-button {
  //           width: 225px;
  //           height: 46px;
  //           font-size: 18px;
  //           font-weight: 500;
  //           margin: 0 auto;
  //           display: flex;
  //           align-items: center;
  //           justify-content: center;

  //           font-weight: normal;
  //           color: #ffffff;
  //           border-color: @color;
  //           background-color: @color;
  //           border-radius: 10px;
  //           transition: all 0.2s linear;
  //           position: relative;
  //           z-index: 2;
  //           overflow: hidden;
  //           border: none;

  //           &::before {
  //             content: "";
  //             position: absolute;
  //             z-index: -1;
  //             top: 0px;
  //             left: 0px;
  //             width: 100%;
  //             height: 100%;
  //             background-color: @color-black;
  //             // -webkit-transform: scaleX(0);
  //             // -ms-transform: scaleX(0);
  //             transform: scaleX(0);
  //             // -webkit-transform-origin: right center;
  //             // -ms-transform-origin: right center;
  //             transform-origin: right center;
  //             // -webkit-transition: -webkit-transform .24s ease-in-out;
  //             // transition: -webkit-transform .24s ease-in-out;
  //             // -o-transition: transform .24s ease-in-out;

  //             // transition: transform .24s ease-in-out, -webkit-transform .24s ease-in-out;
  //           }

  //           &:hover::before {
  //             // -webkit-transform: scaleX(1);
  //             // -ms-transform: scaleX(1);
  //             transform: scaleX(1);
  //             // -webkit-transform-origin: left center;
  //             // -ms-transform-origin: left center;
  //             transform-origin: left center;
  //             transition: transform 0.24s ease-in-out;
  //           }

  //           & img {
  //             margin-left: 10px;
  //             vertical-align: -4px;
  //           }
  //         }
  //       }
  //     }

  //     & > .using_enterprise {
  //       width: 100%;
  //       background-color: #fff;

  //       & > .using_enterprise_heart {
  //         width: 1266px;
  //         // height: 790px;
  //         margin: 0 auto;
  //         box-sizing: border-box;
  //         padding: 68px 0;

  //         & > h1 {
  //           font-size: 30px;

  //           font-weight: 400;
  //           color: #333333;
  //           // line-height: 81px;
  //           text-align: center;
  //         }

  //         & > h5 {
  //           // width: 464px;
  //           margin: 25px auto 0;
  //           margin-bottom: 0px;
  //           font-size: 18px;

  //           font-weight: 400;
  //           color: #5a7184;
  //           line-height: 37px;
  //           text-align: center;
  //         }

  //         & > .using_enterprise_merit {
  //           width: 1180px;
  //           // height: 190px;
  //           display: flex;
  //           align-items: center;
  //           margin: 70px auto 0;
  //           margin-bottom: 0px;

  //           & > li {
  //             flex: 1;
  //             height: 100%;
  //             display: flex;
  //             flex-direction: column;
  //             align-items: center;
  //             // justify-content: space-between;

  //             & > span {
  //               margin-top: 20px;
  //               font-size: 16px;

  //               font-weight: 400;
  //               color: #333;
  //               cursor: pointer;
  //               white-space: nowrap;

  //               &:hover {
  //                 color: @color;
  //               }
  //             }
  //           }
  //         }
  //       }
  //     }

  //     & > .slider {
  //       background-color: #f8f9fb;
  //       padding: 60px 0;
  //       & > h1 {
  //         font-size: 18px;
  //         color: #5a7184;
  //         line-height: 27px;
  //         font-weight: normal;
  //       }
  //       & > div {
  //         margin-top: 36px;
  //         img {
  //           height: 40px;
  //         }
  //         & > img + img {
  //           margin-left: 30px;
  //         }
  //       }
  //     }

  //     & > .set_meal {
  //       width: 100%;
  //       // padding-top: 128px;
  //       box-sizing: border-box;

  //       & > .set_meal_heart {
  //         padding: 68px 0;
  //         width: 100%;
  //         background-color: #fffefa;
  //         overflow-x: hidden;
  //       }

  //       & > .set_meal_top {
  //         width: 100%;
  //         padding: 68px 0;
  //         // height: 203px;
  //         display: flex;
  //         box-sizing: border-box;
  //         flex-direction: column;
  //         align-items: center;

  //         background-color: #fff;

  //         & > h1 {
  //           font-size: 30px;

  //           font-weight: 400;
  //           color: #333333;
  //           // line-height: 81px;
  //           text-align: center;
  //         }

  //         & > p {
  //           margin-top: 25px;
  //           width: 717px;
  //           font-size: 18px;

  //           font-weight: 400;
  //           color: #5a7184;
  //           text-align: center;
  //           // line-height: 40px;
  //         }
  //       }
  //     }
  //   }

  //   .circle {
  //     position: absolute;
  //     left: -48px;
  //     top: 9px;
  //     width: 33px;
  //     height: 33px;
  //     border-radius: 50%;
  //     background-color: #448dba;
  //   }
  // }

  .animation_bottom_2s {
    animation: slide-in-bck-bottom 2s ease 0s 1 normal none;
  }

  .animation_bottom_1s {
    animation: slide-in-bck-bottom 1s ease 0s 1 normal none;
  }

  .animation_bottom_1dot5s {
    animation: slide-in-bck-bottom 1.5s ease 0s 1 normal none;
  }

  .animation_left_1s {
    animation: slide-in-fwd-left 1s ease-out 0s 1 normal none;
  }

  .animation_right_1s {
    animation: slide-in-fwd-right 1s ease 0s 1 normal none;
  }

  .animation_focus_in_expand {
    animation: focus-in-expand 1s ease 0s 1 normal none;
  }

  // 左平移动画

  @keyframes slide-in-fwd-left {
    0% {
      transform: translateZ(-1400px) translateX(-200px);
      opacity: 0;
    }

    100% {
      transform: translateZ(0) translateX(0);
      opacity: 0.8;
    }
  }

  // 右平移动画
  @keyframes slide-in-fwd-right {
    0% {
      transform: translateZ(-1400px) translateX(200px);
      opacity: 0;
    }

    100% {
      transform: translateZ(0) translateX(0);
      opacity: 0.8;
    }
  }

  // 下平移动画
  @keyframes slide-in-bck-bottom {
    0% {
      transform: translateZ(700px) translateY(100px);
      opacity: 0;
    }

    100% {
      transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }

  @keyframes flicker-in {
    0% {
      opacity: 0;
    }

    11% {
      opacity: 1;
    }

    12% {
      opacity: 0;
    }

    21% {
      opacity: 1;
    }

    22% {
      opacity: 0;
    }

    31% {
      opacity: 1;
    }

    32% {
      opacity: 0;
    }

    41% {
      opacity: 1;
    }

    42% {
      opacity: 0;
    }

    51% {
      opacity: 1;
    }

    52% {
      opacity: 0;
    }

    61% {
      opacity: 1;
    }

    62% {
      opacity: 0;
    }

    71% {
      opacity: 1;
    }

    72% {
      opacity: 0;
    }

    81% {
      opacity: 1;
    }

    82% {
      opacity: 0;
    }

    91% {
      opacity: 1;
    }

    92% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes blink-1 {
    0% {
      opacity: 1;
    }

    10% {
      opacity: 0;
    }

    20% {
      opacity: 1;
    }

    35% {
      opacity: 0;
    }

    40% {
      opacity: 1;
    }
  }

  @keyframes wobble-hor-bottom {
    0% {
      transform: translateX(0%);
      transform-origin: 50% 50%;
    }

    5% {
      transform: translateX(-8px) rotate(-6deg);
    }

    10% {
      transform: translateX(5px) rotate(6deg);
    }

    15% {
      transform: translateX(-5px) rotate(-3.6deg);
    }

    20% {
      transform: translateX(6px) rotate(2.4deg);
    }

    25% {
      transform: translateX(-3px) rotate(-1.2deg);
    }

    30% {
      transform: translateX(0%);
      transform-origin: 50% 50%;
    }
  }

  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      filter: blur(12px);
      opacity: 0;
    }

    100% {
      filter: blur(0);
      opacity: 1;
    }
  }
}
