.home {
  // padding-top: 80px;
  @color: #fdb713;
  @color-show: #d09712;
  @color-black: #191d26;
  background-color: hsl(var(--page-background));

  // position: relative;

  .box {
    // width: 100%;
    --primary: 212 77% 53%;
    padding: 0 2.5rem;
    // overflow-x: hidden;

    & > .container {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 4rem 0;
      // opacity: 0;
    }
    @media screen and (max-width: 768px) {
      padding: 0 1rem;
      & > .container {
        padding: 2rem 0;
      }
    }
  }
  .introduce {
    background-color: #1968ff;
    // background-color: hsl(var(--primary));
    color: hsl(var(--colour-foreground));
    border-radius: 0 0 20px 20px;
    overflow: hidden;
    .container {
      position: relative;
      z-index: 1;
      background-image: url("../../../assets/images/home/cover.png");
      background-repeat: no-repeat;
      background-position: right 10%;
      background-size: 450px auto;
      padding: 6rem 0 4rem;
      @media screen and (max-width: 1024px) {
        background-image: none;
      }
      .img_box {
        position: absolute;
      }
      .title {
        color: #fff;
      }
      .description {
        color: #fffc;
      }

      .btn_box {
        width: 100%;
        max-width: 640px;
        .white_btn {
          background-color: hsl(var(--colour-foreground));
          color: #0056fb;
        }
      }

      .advant {
        margin-top: 4rem;
        & > ul {
          flex-wrap: wrap;
          --gap: 1.25rem;
          gap: var(--gap);
          & > li {
            height: 2.5rem;
            border-radius: 999px;
            border: 1px solid hsl(var(--primary) / 30%);
            padding: 0 0.75rem 0 0.25rem;
            position: relative;
            // box-shadow: 0 0 0 1px ;
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              border-radius: inherit;
              padding: 1px 2px; /* 边框宽度 */
              box-sizing: border-box;
              background: linear-gradient(20deg, hsl(var(--major) / 50%), hsl(var(--primary) / 50%));
              -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
              -webkit-mask-composite: destination-out;
              mask-composite: exclude;
            }
            & > .icon {
              width: 2rem;
              height: 2rem;
              background-color: hsl(var(--major) / 20%);
            }
            & > div {
              position: relative;
              z-index: 1;
            }
          }
          @media screen and (max-width: 1024px) {
            & > li {
              width: calc(calc(100% - var(--gap)) / 2);
            }
          }
          @media screen and (max-width: 640px) {
            --gap: 0.5rem;
            & > li {
              width: 100%;
            }
          }
        }
      }

      .tutorial {
        background-color: transparent;
        border: 2px solid hsl(var(--border) / 50%);
        color: hsl(var(--colour-foreground));
        &:hover:not(.loading) {
          border-color: hsl(var(--border));
        }
      }

      .data {
        margin-top: 4rem;
        // position: absolute;
        // left: 50%;
        // bottom: 0;
        // transform: translate(-50%, 50%);
        color: hsl(var(--colour-foreground));
        // background-color: hsl(var(--background));
        // border: 1px solid #E7EFFD;
        padding: 1rem 1.5rem;
        // &>div:first-child,&>div:last-child{
        //   width: 150px;
        // }
        & > .line {
          width: 2px;
          height: 32px;
          margin: 0 2rem;
          background-color: hsl(var(--colour-foreground) / 20%);
        }
        @media screen and (max-width: 640px) {
          margin-top: 1rem;
        }
      }
    }

    & > .background {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      overflow: hidden;
      // inset: 0;
      .bck {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity 0.5s;
      }
    }
  }

  .proxy {
    // background-color: hsl(var(--background));
    background-color: #ffffff;
    // background: linear-gradient(to bottom, transparent, #fff);
    .content {
      .product_item {
        border: 1px solid #e9edf4;
        border-radius: 12px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 27px 28px;
        transition: all 0.3s;
        position: relative;
        &:hover {
          box-shadow: 0 4px 16px #c3c7d433;
        }
      }
      .residential {
        grid-column-start: 1;
        grid-column-end: 3;
        .info {
          max-width: 380px;
          z-index: 1;
        }
        @media screen and (min-width: 768px) {
          .bg {
            position: absolute;
            right: 0;
            top: 0;
          }
          img {
            max-height: 100%;
            max-width: 100%;
            -o-object-fit: contain;
            object-fit: contain;
            vertical-align: bottom;
          }
        }
      }
    }
  }

  .why_choose {
    // background-color: hsl(var(--primary));
    // color: hsl(var(--colour-foreground));
    background-color: hsl(var(--background));
    // background: linear-gradient(to bottom, transparent, #fff);
    .container {
      position: relative;

      & > ul.three {
        align-items: stretch;
        color: hsl(var(--foreground));
        li {
          // max-width: 350px;
          border-radius: 20px;
          padding: 1.5rem;
          background-color: hsl(var(--background));
          box-shadow: 0 0 8px #cce4ff;
          .img_box {
            width: 100px;
            height: 100px;
            margin: 0 auto;
            & > img {
              max-width: 100%;
              max-height: 100%;
            }
            @media screen and (max-width: 640px) {
              width: 80px;
              height: 80px;
            }
          }
          &:hover {
            box-shadow: 0 0 8px #cce4ff;
            background-color: hsl(var(--primary));
            color: hsl(var(--colour-foreground));
          }
        }
      }
    }
  }

  .auto {
    .container {
      .auto_header {
        width: 100%;
        // max-width: 1027px;
        margin: 0 auto;
      }
      .auto_content {
        & > ul.four {
          --padding: 16px;
          width: calc(100% + calc(var(--padding) * 2));
          flex-wrap: wrap;
          margin: 0 calc(var(--padding) * -1);
          @media screen and (max-width: 1024px) {
            --padding: 14px;
          }
          @media screen and (max-width: 768px) {
            --padding: 10px;
          }
          @media screen and (max-width: 648px) {
            --padding: 8px;
          }

          li {
            box-sizing: border-box;
            // width: calc(100% / 4);
            padding: var(--padding);

            & > div {
              border-radius: 1rem;
              height: 260px;
              padding: 1.25rem 1.25rem 0;
              box-shadow: 0 0 8px #cce4ff;
              .img_box {
                width: 80px;
                height: 80px;
                margin: 0 auto;
                img {
                  max-width: 100%;
                  max-height: 100%;
                }
                & > img:last-child {
                  display: none;
                }
              }

              &:hover {
                background-color: hsl(var(--primary));
                color: hsl(var(--colour-foreground));
                .img_box {
                  & > img:first-child {
                    display: none;
                  }
                  & > img:last-child {
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .world {
    background-color: #c9e9ff;
    & > .container {
      // max-width: 100%;
      position: relative;
      // padding: 3rem 0;

      .img_box {
        width: 100%;
        max-width: 680px;
        margin-right: 4rem;
      }

      & > .content {
        max-width: 400px;
        & > div:last-child {
          margin-top: 4rem;
        }
      }
    }
  }

  .location {
    background: #08152d;
    border-radius: 60px;
    box-sizing: border-box;
    height: 780px;
    .map {
      margin: 40px auto 0;
      height: 562px;
      position: relative;
      min-width: 1000px;
      .img {
        left: 100px;
        position: absolute;
        top: 0;
      }

      .gps {
        position: absolute;
        vertical-align: bottom;
        z-index: 1;
        img {
          max-height: 100%;
          max-width: 100%;
          -o-object-fit: contain;
          object-fit: contain;
          vertical-align: bottom;
        }
        .dot {
          background: #ff6325;
          border-radius: 50%;
          height: 8px;
          left: 8px;
          position: relative;
          top: -5px;
          width: 8px;
          &::after {
            animation: room1 2s linear infinite;
            background-color: #ff875733;
            border-radius: 50px;
            content: "";
            display: block;
            height: 8px;
            left: 8px;
            position: relative;
            top: -12px;
            width: 8px;
          }
          @keyframes room1 {
            0% {
              opacity: 0;
              transform: scale(1);
            }

            50% {
              opacity: 1;
              transform: scale(3);
            }

            to {
              opacity: 0;
              transform: scale(4.5);
            }
          }
        }
      }

      .gps_1 {
        left: 257px;
        top: 141px;
      }
      .gps_2 {
        left: 324px;
        top: 219px;
      }
      .gps_3 {
        bottom: 134px;
        left: 404px;
      }
      .gps_4 {
        left: 579px;
        top: 171px;
      }
      .gps_5 {
        bottom: 159px;
        right: 523px;
      }
      .gps_6 {
        bottom: 226px;
        right: 311px;
      }
      .gps_7 {
        right: 208px;
        top: 213px;
      }
      .gps_8 {
        bottom: 84px;
        right: 216px;
      }

      .country {
        background: #cdd6ff4d;
        border: 1px solid rgba(205, 214, 255, 0.3);
        border-radius: 8px;
        box-sizing: border-box;
        opacity: 0;
        padding: 13px 5px 14px 15px;
        position: absolute;
        width: 180px;
        .country_title {
          align-items: center;
          display: flex;
          img {
            border-radius: 5px;
          }
          span {
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            line-height: 17px;
            margin-left: 11px;
          }
        }
        .country_value {
          color: #fff;
          font-size: 18px;
          line-height: 22px;
          margin-top: 9px;
        }
      }
      .country_us {
        left: 300px;
        top: 125px;
      }
      .country_gb {
        right: 402px;
        top: 145px;
      }
      .country_jp {
        right: 14px;
        top: 197px;
      }
      .country_br {
        bottom: 118px;
        left: 448px;
      }
      .country_au {
        bottom: 68px;
        right: 24px;
      }
      .country_animtate {
        animation-delay: 0.5s;
        animation-direction: normal;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-name: op-a7a18920;
      }
      @keyframes op-a7a18920 {
        0% {
          opacity: 0;
        }

        50% {
          opacity: 1;
        }

        to {
          opacity: 0;
        }
      }
    }
  }

  .package {
    background-color: hsl(var(--primary));
    & > .container {
      min-height: 400px;
      // padding: 4rem 0;
    }
  }
}
