.home {
  // padding-top: 80px;
  @color: #FDB713;
  @color-show: #d09712;
  @color-black: #191D26;
  background-color: hsl(var(--page-background));

  // position: relative;

  .box{
    // width: 100%;
    padding: 0 2.5rem;
    @media screen and (max-width:640px) {
      padding: 0 1rem;
    }
    .container{
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      
      .primary_text{
        color: hsl(var(--primary));
      }
      .description{
        color: hsl(var(--foreground) / 60%);
      }
      .green{
        color: hsl(var(--success));
      }
    
    }
  }
  .introduce{
    background-image: url('../../../assets/images/home/star.png');
    background-repeat: no-repeat;
    background-position: 50% 90%;
    padding-bottom: 40px;
    .container{
      padding: 64px 0 120px;
      position: relative;
      z-index: 1;
      .img_box{
        position: absolute;
      }
      .intro1{
        top: 4vh;
        right: 15vh;
      }
      .intro2{
        top: 16vh;
        left: 0;
        width: 231px;
        border-radius: 12px;
        background-color: hsl(var(--page-card));
        padding: 20px;
        p{
          white-space: nowrap;
        }
      }
      .intro3{
        bottom: 8vh;
        right: 0;
        width: 231px;
        height: 238px;
        // padding: 1.5rem 0;
        background-color: hsl(var(--foreground) / 36%);
        border-radius: 1.25rem;
        justify-content: center;

        .tag{
          background-color: hsl(var(--foreground));
          color: hsl(var(--background));
          border-radius: 0.75rem;
          .tag-icon{
            width: 2.5rem;
            height: 2.5rem;
            color: hsl(var(--foreground));
          }
          .tag-list{
            &>li{
              height: 1.25rem;
              padding: 0 0.5rem;
            }
            .grey{
              background-color: #f2f2f2;
              color: #828282;
            }
            .red{
              background-color: #ffeff1;
              color: #fd5b71;
            }
            .purple{
              background-color: #F5EEFC;
              color: #9b51e0;
            }
          }
        }

        &>.tag:first-child{
          transform: translateX(-30%);
        }
        &>.tag:last-child{
          // width: 120%;
          width: 285px;
          transform: translateX(-20px);
        }

        
      }
    }

    &>.background{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      overflow: hidden;
      // inset: 0;
      .bck{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity 0.5s;
      }
    }
  }

  

  .split{
    background-color: hsl(var(--page-neutral));
    // height: 80px;
    padding-bottom: 40px;
    .trans{
      position: absolute;
      top: 0;
      left: -20px;
      width: 100%;
      transform: translateY(-100%);
      border-width: 0 60px 40px 60px;
      border-style: solid;
      border-color: transparent transparent hsl(var(--page-neutral)) transparent;
    }
  }


  .why_choose{
    .container{
      padding-top: 64px;
      position: relative;

      &>ul.three{
        margin-top: 64px;
        align-items: stretch;
        li{
          border-radius: 20px;
          padding-bottom: 0.75rem;
          background-color: hsl(var(--page-card));
        }
      }   
      &>ul.four{
        margin-top: 64px;
        align-items:stretch;
        li{
          border-radius: 20px;
          border: 1px solid hsl(var(--border));
          padding-bottom: 20px;
        }
      }
    }
  }

  .world_split{
    padding-bottom: 0;
    padding-top: 40px;
    .container>div{
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
    }
    .trans{
      z-index: 2;
      bottom: 0;
      transform: translateY(100%);
      border-width: 40px 60px 0 60px;
      border-color: hsl(var(--page-neutral)) transparent transparent  transparent;
    }
  }

  .world{
    // width: 100%;
    // padding: 0;
    background-color: #0a070a;
    // background: linear-gradient(to bottom,#09070a,hsl(var(--page-background)));
    &>.container{
      // max-width: 100%;
      position: relative;
      padding: 64px 0;
      .country_box{
        padding-top: 0.5rem;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 20px 0;
        // justify-content: center;
        justify-items: center;
        &>.country:nth-child(1){
          grid-column-start: 1;
          grid-column-end: 3;
        }
        &>.country:nth-child(2){
          grid-column-start: 3;
          grid-column-end: 5;
        }
        &>.country:nth-child(3){
          grid-column-start: 5;
          grid-column-end: 7;
        }
        &>.country:nth-child(4){
          grid-column-start: 1;
          grid-column-end: 4;
        }
        &>.country:nth-child(5){
          grid-column-start: 4;
          grid-column-end: 7;
        }
      
      }
      .country{
        position: absolute;
        animation: fade .3s;

        &>.detail{
          height: 2rem;
          padding: 0 0.75rem;
          color: hsl(var(--foreground) / 60%);
          border-radius: 999px;
          border: 1px solid hsl(var(--foreground) / 10%);
          // box-shadow: 0 0 0 1px hsl(var(--foreground) / 10%);
          cursor: default;
          background-color: #12141a;
          .dot{
            box-sizing: border-box;
            width: 20px;
            height: 20px;
            background-color: hsl(var(--foreground) / 10%);
            border-radius: 50%;
            opacity: 0;
            width: 0;
            height: 0;
            overflow: hidden;
            transition: all .1s;
            transform-origin: center center;
            
            &::before{
              content: "";
              display: block;
              height: 50%;
              width: 50%;
              border-radius: 50%;
              background-color: hsl(var(--success));
            }
          }
          &:hover{
            box-shadow: 20px 20px 40px #3B82F6;
            box-shadow: 0 0 0 1px #3B82F6,0 10px 30px -5px  #3B82F6;
            .dot{
              width: 20px;
              height: 20px;
              opacity: 1;
            }
          }
        }
        @media screen and (max-width:768px) {
          position: static;
          img{
            width: 18px;
          }
          .detail{
            height: 1.75rem;
            padding: 0 0.5rem;
          }
        }
      }
      .Canada{
        top: 15%;
        left: 16%;
      }
      .France{
        top: 19%;
        left: 48%;
      }
      .Brazil{
        left: 34%;
        bottom: 30%;
      }
      .Australia{
        left: 83%;
        bottom: 20%;
      }
      .Malaysia{
        left: 76%;
        bottom: 36%;
      }

      .content{
        position: absolute;
        inset: 0;
        .container{
          .text{
            padding: 20px 0;
            align-self: flex-end;
            // transform: translateY(20px);
            p{
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }

  .app{
    .container{
      max-width: 1200px;
      // height: 500px;
      // background-image: url('../../../assets/images/home/app.webp');
      // background-size: 100%;
      // background-position: 50% 70%;
      // background-repeat: no-repeat;d

      padding-top: 40px;
      position: relative;
      
    }
  }

  .package{
    .container{
      padding: 32px 0 128px;
    }
  }

  
}
