.billings {

  color: hsl(var(--background));

  .white{
    color: hsl(var(--foreground));
  }
  .main{
    min-height: 0;
    padding: 0 12px;
    border-radius: 8px;
    background-color: hsl(var(--layout-background));
    // background-color: hsl(var(--foreground));
    overflow: auto;

    .table{
      max-width: 100%;
      :deep(.el-table){
        width: 100%;
        max-height: 100%;
        border-radius: 8px;
        thead{
          .el-table__cell{
            background-color: hsl(var(--primary));
            .cell{
              color: hsl(var(--foreground));
            }
          }

        }
        tbody{
          &>tr:nth-child(even){
            .el-table__cell{
              // background-color: hsl(var(--primary) / 10%);
              // background-color: #f0f9ff;
              background-color: #eff6ff;
            }
          }
        }
      }
    }
    // .el-table{
      // --el-table-header-bg-color:hsl(var(--layout-background));
      // --el-table-bg-color: hsl(var(--layout-background));
      // --el-table-text-color:hsl(var(--foreground) / 80%);
      // --el-table-header-text-color:hsl(var(--foreground));
      // --el-table-border-color:hsl(var(--foreground) / 10%);
      // --el-table-current-row-bg-color:transparent;
      // --el-table-tr-bg-color:transparent;
      // --el-table-row-hover-bg-color:hsl(var(--layout-neutral) / 10%);
    // }

    .pagination{
      padding: 12px 0;
      :deep(.el-pagination){
        --el-pagination-button-color:hsl(var(--foreground) / 60%);
        --el-pagination-bg-color:transparent;
        --el-pagination-text-color:hsl(var(--foreground));
        --el-pagination-button-disabled-bg-color:transparent;
        --el-pagination-button-disabled-color:hsl(var(--foreground) / 30%);
        --el-input-bg-color:transparent;
        .el-input{
          --el-input-bg-color:transparent;
          --el-input-text-color:hsl(var(--foreground));
          --el-input-border-color:hsl(var(--border));
          --el-input-hover-border-color:hsl(var(--input-border-hover));
        }
      }
    }
  }
}