.billings {


  .main{
    min-height: 0;
    padding: 0 12px;
    border-radius: 8px;
    background-color: hsl(var(--layout-background));
    overflow: auto;

    .el-table{
      --el-table-header-bg-color:hsl(var(--layout-background));
      --el-table-bg-color: hsl(var(--layout-background));
      --el-table-text-color:hsl(var(--foreground) / 80%);
      --el-table-header-text-color:hsl(var(--foreground));
      --el-table-border-color:hsl(var(--foreground) / 10%);
      --el-table-current-row-bg-color:transparent;
      --el-table-tr-bg-color:transparent;
      --el-table-row-hover-bg-color:hsl(var(--layout-neutral) / 10%);
      
    }

    .pagination{
      padding: 20px 0;
    }
    .el-pagination{
      --el-pagination-button-color:hsl(var(--foreground) / 60%);
      --el-pagination-bg-color:transparent;
      --el-pagination-text-color:hsl(var(--foreground));
      --el-pagination-button-disabled-bg-color:transparent;
      --el-pagination-button-disabled-color:hsl(var(--foreground) / 30%);
      --el-input-bg-color:transparent;
    }
  }
}