.pricing {
  // padding-top: 80px;
  background-color: #F2F9FF;

  .box{
    // width: 100%;
    --primary: 212 77% 53%;
    padding: 0 2.5rem;
    @media screen and (max-width:640px) {
      padding: 0 1rem;
    }
    .container{
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      
      .title{
        line-height: 1.5;
        // font-weight: bold;
      }
      .description{
        line-height: 1.5;
        // font-weight: 500;
      }
    
    }
  }
  .price{
    color: hsl(var(--colour-foreground));
    --img-height: 450px;
    
    @media screen and (max-width:1024px) {
      --img-height: 380px;
    }
    @media screen and (max-width:640px) {
      --img-height: 300px;
    }
    .container{
      position: relative;
      @media screen and (max-width:640px) {
        padding: 2rem 0;
      }
      z-index: 1;

      .header{
        height: var(--img-height);
        justify-content: center;
        .tabbar{
          margin-top: 4rem;
        }
      }
      .product{
        padding: 4rem 0;
      }
    }

    .background{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      // opacity: 0;
      // transition: opacity .3s;
      width: 100%;
      height: var(--img-height);
      overflow: hidden;
      background-image: url('@/assets/images/pricing/background@2x.webp');
      background-size: cover;
      background-position: center;
      // .img{
      //   width: auto;
      //   height: 100%;
      // }
    }

    
  }
  .pay{
    padding-bottom: 4rem;
    .imgs{
      width: 100%;
      max-width: 400px;
    }
    
    .scroll{
      padding: 40px 0 20px;
      // background:linear-gradient(to bottom,#0E0F14,#09070A);
    }
  }

  .plan{
    margin: 4rem 0;
    .container{
      border-radius: 12px;
      padding: 2rem;
      background-color: hsl(var(--background));
      box-shadow: 0 0 14px  #D0DCF2;
      gap: 2rem;
      
      &>.text{
        max-width: 550px;
        .icon{
          fill: hsl(var(--primary));
          stroke: hsl(var(--colour-foreground));
        }
      }

      &>.img_box{
        max-width: 400px;
      }
    }
  }


}
