.pricing {
  // padding-top: 80px;
  background-color: hsl(var(--page-background));

  .box{
    // width: 100%;
    padding: 0 40px;
    .container{
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      
      :deep(.primary_text){
        color: hsl(var(--primary));
      }
      .title{
        line-height: 1.5;
        font-weight: 500;
        font-family: Space Grotesk;
      }
      .description{
        line-height: 1.5;
        color: hsl(var(--foreground) / 60%);
      }
      .green{
        color: hsl(var(--success));
      }
    
    }
  }
  .price{
    .container{
      padding: 64px 0;
    }
  }

  .country{
    .container{
      padding: 128px 0;
      .gird{
        // margin: 96px auto;
        width: 100%;
        max-width: 800px;
        margin: 96px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        // gap: 40px 100px;
        gap: 40px;
        align-items: center;
        // justify-items: center;
      }
    }
  }

  .split{
    background-color: hsl(var(--page-neutral));
    // height: 80px;
    padding-top: 40px;
    .trans{
      position: absolute;
      left: -20px;
      width: calc(100% + 40px);
      border-style: solid;
      bottom: 0;
      transform: translateY(100%);
      border-width: 40px 60px 0 60px;
      border-color: hsl(var(--page-neutral)) transparent transparent  transparent;
    }
  }

  .payment.split{
    .container{
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
    }
  }

}
