.front{
  
  position: relative;
  background-image: linear-gradient(180deg, #335EEA 0%, #335EEA 100%);
  background-size: 100% 1000px;
  background-repeat: no-repeat;
    

  .linear_bg {
      position: absolute;
      width: 100%;
      // height: 100px;
      top: -60px;
      left: 0;
      // z-index: ;
      overflow: hidden;
      *{
        display: block;
        height: auto;
        width: 100%;
      }
      svg{
        overflow: hidden;
        vertical-align: middle;
      }
    }
}