.login_account {
  padding-top: 36px;
  .form {
    // &>p{
    //   white-space: nowrap;
    // }
    .input_box {
      
      position: relative;
      .icon{
        color:hsl(var(--foreground) / 50%);
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
      }
      input{
        padding-left: 36px;
        padding-right: 12px;
        height: 44px;
        border-radius: 8px;
        border: 1px solid hsl(var(--input-border));
        outline: none;
        background-color: hsl(var(--background));
        &:focus{
          outline: none;
          border-color: hsl(var(--primary));
        }
        &:hover{
          outline: none;
          border-color: hsl(var(--primary) / 60%);
        }
        &:-webkit-autofill {
          -webkit-text-fill-color:hsl(var(--foreground));
          box-shadow:0 0 0 1000px transparent inset !important; // 颜色可以随意，这里设置的是透明色
        }
        &:-internal-autofill-previewed,
        &:-internal-autofill-selected {
          transition: background-color 5000s ease-in-out 0s !important;
        }
      }
    }
  }
  & > .btn {
    width: 100%;
    height: 44px;
  }
  & > .btn.disabled {
    background-color: hsl(var(--primary) / 80%);
  }

  & > .other_login_title {
    width: calc(100% - 12px);
    margin: 30px auto 0;
    padding: 30px 0 20px;
    border-top: 1px solid hsl(var(--foreground) / 30%);
  }
  & > .other_login {
    margin: 0 auto;
    width: 100%;
    .github{
      .icon{
        fill: hsl(var(--foreground));
        transition: fill 0.3s;
      }
      &:hover:not(.disabled){
        .icon{
          fill: hsl(var(--colour-foreground));
        }
      }
    }
    &>button.loading{
      position: relative;
      &::before{
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(255, 255, 255,.5);
        border-radius: 8px;
      }
    }
  }
}
