.pc-picker{
  position: relative;
  &>img{
    position: absolute;
    width: 17px;
    height: 17px;
  }
  &>.icon_calendar:nth-child(2){
    top: 12px;
    left: 18px;
  }
  &>.icon_calendar:nth-child(3){
    top: 12px;
    left: 160px;
  }
  ::v-deep .el-date-editor .el-range-separator {
    margin-right: 15px;
    color: #C1C1C1;
  }
  ::v-deep .el-input__inner{
    border: none;
  }
  ::v-deep .el-input__icon{
    display: none;
  }
  ::v-deep .el-date-editor {
    width: 280px;
    justify-content: right;
  }
}
