.relation {

  background-color: hsl(var(--page-background));
  position: relative;

  .box{
    // width: 100%;
    padding: 0 2.5rem;
    @media screen and (max-width:640px) {
      padding: 0 0.75rem;
    }
    .container{
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      
      :deep(.primary_text){
        color: hsl(var(--primary));
      }
      .title{
        line-height: 1.5;
        font-weight: 500;
        // font-family: Space Grotesk;
      }
      .description{
        line-height: 1.5;
        color: hsl(var(--foreground) / 60%);
      }
      .green{
        color: hsl(var(--success));
      }
    
    }
  }
  .contact_us{
    .container{
      padding: 64px 0 128px;
      position: relative;
      z-index: 1;

      .email{
        background-color: hsl(var(--page-neutral));
        padding: 20px 32px;
        border: 1px solid hsl(var(--neutral) / 40%);
        // box-shadow: 0 0 5px hsl(var(--neutral) / 50%);
        margin-bottom: 60px;
        // width: 450px;
        min-width: 450px;
        border-radius: 8px;
        // color: hsl(var(--background));
        // background-color: hsl(var(--foreground));
        // color: hsl(var(--background));
        @media screen and (max-width:640px) {
          min-width: 0;
          width: 100%;
        }
        &>p{
          white-space: nowrap;
          letter-spacing: 1px;
        }
        .label{
          color: hsl(var(--foreground) / 90%);
        }
        input{
          width: 100%;
          height: 40px;
          padding: 6px 12px;
          outline: none;
          border: 1px solid #dedede;
          border-radius: 5px;
          line-height: 1.4;
          background: hsl(var(--foreground));
          color: hsl(var(--background));
          &:hover{
            border: 1px solid #d9d9d9;
          }
          &:focus{
            outline: none;
            border-color: hsl(var(--primary));
          }
          &::placeholder{
            color: hsl(var(--neutral));
            font-size: 14px;
          }
          
        }
        textarea{
          width: 100%;
          height: 146px;
          padding: 5px 14px;
          outline: none;
          border: 1px solid #dedede;
          border-radius: 5px;
          line-height: 1.4;
          resize: none;
          background: hsl(var(--foreground));
          color: hsl(var(--background));
          &:hover{
            border: 1px solid #d9d9d9;
          }
          &:focus{
            outline: none;
            border-color: hsl(var(--primary));
          }
          &::placeholder{
            color: hsl(var(--neutral));
            font-size: 14px;
          }
        } 
      }

      .concat{
        width: 100%;
        max-width: 600px;
        align-self: flex-end;
        .top{
          padding: 40px 30px;
          border-bottom: 1px solid hsl(var(--foreground) / 20%);
          @media screen and (max-width:640px) {
            padding: 1.25rem 0;
          }
        }
        .bottom{
          .way{
            height: 80px;
            color: hsl(var(--foreground) / 90%);
          }
          .way+.way{
            border-left: 1px solid hsl(var(--foreground) / 20%);
          }
        }
        @media screen and (max-width:1023px) {
          align-self: center;
        }
      }

    }
    
  }

  &>.background{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 0;
    // inset: 0;
    .bck{
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: opacity 0.5s;
    }
  }

  
}