.menu {
  // width: 260px;
  padding-bottom: 1.25rem;
  background-color: hsl(var(--background));
  border-right: 1px solid hsl(var(--border));
  

  &>.logo {
    height: 50px;
    .back{
      opacity: 0;
      position: absolute;
      left: 10px;
      top: 15px;
      color: hsl(var(--foreground) / 80%);
    }
    &:hover{
      .back{
        opacity: 1;
        animation: trans 0.8s infinite;
      }
      @keyframes trans {
        0%{
          transform: translateX(0);
        }
        100%{
          transform: translateX(-10px);
        }
      }
    }
  }

  .pitch_on {
    background-color: hsl(var(--primary) / 8%);
  }

  &>.column {

    &>ul {
      .menu-item{
        .icon{
          color: hsl(var(--foreground) / 60%);
        }
        @media screen and (max-width: 1536px) {
          padding-right: 12px;
          .icon{
            color: hsl(var(--foreground));
          }
        }
        &:hover{
          background-color: hsl(var(--primary) / 8%);
        }
      }
    }
  }

  @media screen and (max-width: 1536px) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 50px;
    transition: all .36s ease;
    // width: 260px;
    &:hover{
      width: 260px;
    }
  }
}