.FAQ{
  padding: 0 2.5rem;
  @media screen and (max-width:768px) {
    padding: 0 1rem;
  }
  .container{
    padding: 30px 0;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
  }
  .title1{
    color: hsl(var(--foreground));
    font-weight: 600;
    font-style: italic;
  }
  .title2{
    color: hsl(var(--foreground) / 80%);
    font-weight: 500;
  }
  .content {
    position: relative;
    // width: 1026px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    // margin-left: 33px;
    // background-color: #F8F9FA;
    color: hsl(var(--foreground) / 60%);
    background-color: hsl(var(--foreground) / 10%);
    border-radius: 8px;
    white-space: pre-wrap;

    :deep(a){
      color: hsl(var(--primary) / 60%);
      &:hover{
        color: hsl(var(--primary) / 80%);
      }
    }

    &::before {
      position: absolute;
      top: 24px;
      left: 7px;
      content: "";
      width: 2px;
      height: 12px;
      background-color: #FC750D;
    }
  }
}