.home {
  // padding-top: 80px;
  @color: #FDB713;
  @color-show: #d09712;
  @color-black: #191D26;
  background-color: hsl(var(--page-background));

  // position: relative;

  .box{
    // width: 100%;
    --primary: 212 77% 53%;
    padding: 0 2.5rem;
    @media screen and (max-width:640px) {
      padding: 0 1rem;
    }
    .container{
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
    
    }
  }
  .introduce{
  
    
    background-color: #061C52;
    color: hsl(var(--colour-foreground));
    .container{
      padding: 64px 0 ;
      position: relative;
      z-index: 1;
      background-image: url('../../../assets/images/home/cover.png');
      background-repeat: no-repeat;
      background-position: right 31%;
      @media screen and (max-width:1024px) {
        background-size: 40% auto;
      }
      @media screen and (max-width:800px) {
        background-img: none;
      }
      &>.text{
        max-width: 550px;
      }
      .img_box{
        position: absolute;
      }

      .tutorial{
        background-color: transparent;
        border: 2px solid hsl(var(--border) / 50%);
        color: hsl(var(--colour-foreground));
        &:hover:not(.loading){
          border-color: hsl(var(--border));
        }
      }
    }

    &>.background{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      overflow: hidden;
      // inset: 0;
      .bck{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity 0.5s;
      }
    }
  }

  .country{
    background-color: hsl(var(--background));
    .container{
      padding: 64px 0;

      .country_list{
        margin-top: 4rem;
        min-height: 424px;
        &>ul{
          margin: 0 -12px;
          flex-wrap: wrap;
          animation: fade .3s;
          &>li{
            box-sizing: border-box;
            // width: calc(100% / 4);
            padding: 12px;
            &>div{
              justify-content: space-between;
              height: 180px;
              padding: 2rem 1.5rem;
              background-color: #051C4E;
              box-shadow: 0 0 8px #CCE4FF;
              color: hsl(var(--colour-foreground));
              background-image: url('@/assets/images/home/country_bg.png');
              background-repeat: no-repeat;
              background-position: right;
            }
            
          }
        }
      }
    }
  }

  .why_choose{
    // background-color: hsl(var(--primary));
    // color: hsl(var(--colour-foreground));
    .container{
      padding: 64px 0;
      position: relative;

      &>ul.three{
        margin: 64px auto 0;
        align-items: stretch;
        li{
          background: hsl(var(--background));
          box-shadow: 0 0 8px #CCE4FF;
          max-width: 350px;
          border-radius: 20px;
          padding: 1rem;
          background-color: hsl(var(--background));
          .img_box{
            width: 150px;
            height: 150px;
            margin: 0 auto;
          }
          &:hover{
            background-color: hsl(var(--primary));
            color: hsl(var(--colour-foreground));
          }
        }
      }
    }
  }

  .auto{
    .container{
      padding: 4rem 0;
      .auto_header{
        width: 100%;
        max-width: 1027px;
        margin: 0 auto;
      }
      .auto_content{
        margin-top: 4rem;
        // padding: 4rem 0;
        // background-color: hsl(var(--primary));
        &>ul.four{
          --padding: 16px;
          width: calc(100% + calc(var(--padding) * 2));
          flex-wrap: wrap;
          margin: 0 calc(var(--padding) * -1);
          @media screen and (max-width:1024px) {
            --padding: 14px;
          }
          @media screen and (max-width:768px) {
            --padding: 10px;
          }
          @media screen and (max-width:648px) {
            --padding: 8px;
          }
          
          li{
            box-sizing: border-box;
            // width: calc(100% / 4);
            padding: var(--padding);
            
            &>div{
              border-radius: 1rem;
              height: 260px;
              padding: 1.25rem 1.25rem 0;
              box-shadow: 0 0 8px #CCE4FF;
              .img_box{
                width: 80px;
                height: 80px;
                margin: 0 auto;
                img{
                  max-width: 100%;
                  max-height: 100%;
                }
                &>img:last-child{
                  display: none;
                }
              }
              
              &:hover{
                background-color: hsl(var(--primary));
                color: hsl(var(--colour-foreground));
                .img_box{
                  &>img:first-child{
                    display: none;
                  }
                  &>img:last-child{
                    display: block;
                  }
                }
              }
            }
          }
        }
      }

      .pack_title{
        margin-top: 8rem;
      }
    }
  }

  .package{
    background-color: hsl(var(--primary));
    .container{
      padding: 4rem 0;
      min-height: 400px;
    }
  }

  .question{
    .container{
      padding: 4rem 0;
    }
  }

  
}
