.footer {
  background-color: #0B0C1B;

  .box{
    // width: 100%;
    padding: 0 2.5rem;
    overflow-x: hidden;
    .container{
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding-bottom: 3rem;
      color: hsl(var(--colour-foreground) / 70%);
      .white{
        color: hsl(var(--colour-foreground));
      }
      .nav{
        padding: 3rem 0;
        margin-bottom: 1rem;
        border-bottom: 1px solid hsl(var(--colour-foreground) / 15%);
        .logo{
          margin-right: 60px;
          .contact{
            // margin-top: 3rem;
            .pay{
              // margin-top: 12px;
              .pay-item{
                background-color: #242532;
                border-radius: 4px;
                height: 24px;
                padding: 0 6px;
                img{
                  width: auto;
                  height: 15px;  
                }
              }
            }
          }
          @media screen and (max-width:1024px) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 3rem;
          }
        }
      }
      .policy{
        .split{
          width: 1px;
          height: 16px;
          background-color: hsl(var(--colour-foreground) / 30%);
        }
      }
      a{
        transition: color 0.3s ease-in-out;
        &:hover{
          color: hsl(var(--colour-foreground));
        }
      }
    }
    @media screen and (max-width:768px) {
      padding: 0 1rem;
      .container{
        padding: 1rem 0;
      }
    }
  }

  .mask{
    :deep(.dialog_container){
      margin: 15vh 0;
    }
    .mask_content {
      width: 100vw;
      max-width: 400px;
      // background: linear-gradient(87deg, #e9eeff, #fff);
      background: #fff;
      border-radius: 12px;
      position: relative;
      padding: 30px 30px 36px;
      box-sizing: border-box;
      position: relative;
      .image_box{
        width: 300px;
        height: 300px;
      }
      .close {
        margin-top: 0;
        width: 30px;
        height: 30px;
        border-radius: 8px;
        position: absolute;
        right: 10px;
        top: 10px;
        background-color: transparent;
        color: hsl(var(--foreground) / 60%);
        z-index: 1;
        &:hover {
          color: hsl(var(--foreground) / 100%);
          background-color: hsl(var(--neutral) / 10%);
        }
      }
  
      
    }
  }

}
