.footer {
  background-color: #0B0C1B;

  .box{
    // width: 100%;
    padding: 0 2.5rem;
    overflow-x: hidden;
    .container{
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding-bottom: 3rem;
      color: hsl(var(--colour-foreground) / 70%);
      .white{
        color: hsl(var(--colour-foreground));
      }
      .nav{
        padding: 3rem 0;
        margin-bottom: 1rem;
        border-bottom: 1px solid hsl(var(--colour-foreground) / 15%);
        .logo{
          .contact{
            margin-top: 3rem;
          }
          @media screen and (min-width:768px) {
            margin-right: 178px;
          }
        }
      }
      .policy{
        .split{
          width: 1px;
          height: 16px;
          background-color: hsl(var(--colour-foreground) / 30%);
        }
      }
      a{
        transition: color 0.3s ease-in-out;
        &:hover{
          color: hsl(var(--colour-foreground));
        }
      }
    }
    @media screen and (max-width:768px) {
      padding: 0 1rem;
      .container{
        padding: 1rem 0;
      }
    }
  }

}
