.footer {
  // width: 100vw;
  @color: #FDB713;
  @color-show: #d09712;
  @color-black: #191D26;
  --primary: 212 77% 53%;

  .box{
    // width: 100%;
    padding: 0 2.5rem;
    overflow-x: hidden;
    .container{
      width: 100%;
      max-width: 1200px;
      padding: 4rem 0;
      margin: 0 auto;
      
      .title{
        line-height: 1.5;
        font-weight: 500;
        // // font-family: Space Grotesk;
      }
      .description{
        line-height: 1.5;
        color: hsl(var(--foreground) / 60%);
        white-space: pre-wrap;
      }
      .green{
        color: hsl(var(--success));
      }
    
    }
    @media screen and (max-width:768px) {
      padding: 0 1rem;
      .container{
        padding: 1rem 0;
      }
    }
  }

  .serve{
    background-color: hsl(var(--primary));
    color: hsl(var(--colour-foreground));
    .container{
      // width: 100%;
      max-width: 1400px;
      // padding-left: 80px;
      // gap: 2.5rem;
      

      .line{
        background-color: hsl(var(--foreground) / 10%);
        @media screen and (max-width:768px) {
          height: 1px;
        }
        @media screen and (min-width:769px) {
          width: 1px;
        }
      }
      .list{
        // padding: 0 2rem;
        ul{
          &>li{
            height: 32px;
            display: flex;
            align-items: center;
            // color: hsl(var(--foreground) / 60%);
            // &:hover{
              // color: hsl(var(--primary));
            // }
            &:hover{
              text-decoration: underline;
              text-underline-offset: 4px;
              // background-color: hsl(var(--neutral) / 30%);
            }
          }
          &>li.btn{
            border-radius: 6px;
            // background-color: hsl(var(--neutral) / 50%);
            padding: 0 0.75rem;
            &:hover{
              text-decoration: underline;
              text-underline-offset: 4px;
              // background-color: hsl(var(--neutral) / 30%);
            }
          }
          @media screen and (max-width:768px) {
            li{
              height: 1.5rem;
            }
          }
        }
        .description{
          color: hsl(var(--foreground) / 60%);
        }

        .copy_btn{
          border-radius: 8px;
          background-color: hsl(var(--colour-foreground));
          color: hsl(var(--foreground));
          button{
            border-radius: 0 8px 8px 0;
          }
        }

        .service>ul{
          @media screen and (max-width:768px) {
            margin-left: -0.75rem;
            margin-right: -0.75rem;
          }
        }
      }
      
    }

  }
  .copyright{
    height: 40px;
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }


}
