@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
}

@layer utilities{
  .flex{
    display: flex;
    flex-direction: row;
  }
  .between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .v_center {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .vh_center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .column {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .column_center {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .column_between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .pointer {
    cursor: pointer;
    user-select: none;
  }
  .transition-color {
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }

  .ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.flex>.flex-1,.v_center>.flex-1 {
  flex: 1;
  min-width: 0;
}
.flex>.shink-0,.v_center>.shink-0{
  flex-shrink: 0;
}
.column>.flex-1,.column_center>.flex-1 {
  flex: 1;
  min-height: 0;
}

/* 颜色 */
.primary{
  color: hsl(var(--primary));
}
.major{
  color: hsl(var(--major));
}
.success{
  color: hsl(var(--success));
}
.warn{
  color: hsl(var(--warn));
}
.white{
  color: hsl(var(--colour-foreground));
}
.black{
  color: hsl(var(--foreground));
}
.grey-80{
  color: hsl(var(--foreground) / 80%);
}
.grey-60{
  color: hsl(var(--foreground) / 60%);
}
.grey-40{
  color: hsl(var(--foreground) / 40%);
}
.grey-20{
  color: hsl(var(--foreground) / 20%);
}



.ip-loading {
  pointer-events: none;
  display: inline-block;
  aspect-ratio: 1 / 1;
  width: 14px;
  background-color: currentColor;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' stroke='black' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform-origin='center'%3E%3Ccircle cx='12' cy='12' r='9.5' fill='none' stroke-width='3' stroke-linecap='round'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 12 12' to='360 12 12' dur='2s' repeatCount='indefinite'/%3E%3Canimate attributeName='stroke-dasharray' values='0,150;42,150;42,150' keyTimes='0;0.475;1' dur='1.5s' repeatCount='indefinite'/%3E%3Canimate attributeName='stroke-dashoffset' values='0;-16;-59' keyTimes='0;0.475;1' dur='1.5s' repeatCount='indefinite'/%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' stroke='black' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform-origin='center'%3E%3Ccircle cx='12' cy='12' r='9.5' fill='none' stroke-width='3' stroke-linecap='round'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 12 12' to='360 12 12' dur='2s' repeatCount='indefinite'/%3E%3Canimate attributeName='stroke-dasharray' values='0,150;42,150;42,150' keyTimes='0;0.475;1' dur='1.5s' repeatCount='indefinite'/%3E%3Canimate attributeName='stroke-dashoffset' values='0;-16;-59' keyTimes='0;0.475;1' dur='1.5s' repeatCount='indefinite'/%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
}

html{
  font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-optical-sizing: auto;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-size: 16px;
  @media screen and (max-width:768px) {
    font-size: 14px;
  }
}

body{
  /* font-family:  PingFang SC, Noto Sans SC, sans-serif; */
  /* font-family: Be Vietnam Pro,Verdana,sans-serif; */
  font-family: Outfit, Noto Sans SC, sans-serif, serif;
  color: hsl(var(--foreground));
  background-color: hsl(var(--background));

  word-break: break-word;
  overflow-wrap: break-word;
  hyphens: auto;

  /* 间距和行高 */
  /* letter-spacing: 0.05em;  字母间距 */
  /* word-spacing: 0.1em;     单词间距 */
  /* @media screen and (max-width:1024px) {
    font-size: 14px;
  } */
   font-size: 1rem;
  

  /* 段落样式 */
  /* text-align: justify; */
  /* text-justify: inter-ideograph; 特别为中文优化的对齐 */
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}