.login {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/images/login/background.webp");
  background-color: hsl(var(--page-background));
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  position: relative;

  & > .container {
    justify-self: flex-end;
    box-sizing: border-box;
    width: 530px;
    height: 430px;
    // height: 580px;
    padding: 0 64px;
    border-radius: 12px;
    position: relative;
    color: hsl(var(--foreground));

    .title {
      font-family: "Poppins", sans-serif;
      line-height: 1.5;
      font-weight: 800;
      font-size: 56px;
      text-transform: uppercase;
    }

    .back {
      position: absolute;
      top: 20px;
      left: 52px;
      // align-self: flex-start;
      font-size: 14px;
      height: 32px;
      padding: 0 12px;
      border-radius: 6px;
      background-color: transparent;
      transition: background-color 0.3s;
      i {
        font-weight: bold;
      }
      strong {
        font-size: 500;
        line-height: 1;
      }

      &:hover {
        background-color: #eee;
      }
    }


    .loading {
      position: absolute;
      inset: 0;
      background: rgba(255, 255, 255, 0.8);
      color: #fdb713;
      z-index: 3;
      .chat-loading {
        width: 25px;
      }
    }
  }

  .welcome{
    position: absolute;
    left: 40px;
    bottom: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 1.2;

    .liner{
      background: linear-gradient(to right, #3B82F6, #00FFAB);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
