.login {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  // background-image: url("../../assets/images/login/background.webp");
  // background-color: hsl(var(--page-background));
  // background-size: cover;
  // background-repeat: no-repeat;
  background-color: hsl(var(--page-background));

  position: relative;

  & > .container {
    // justify-content: flex-end;
    // justify-self: flex-end;
    box-sizing: border-box;
    width: 500px;
    height: 520px;
    // height: 450px;
    // height: 580px;
    padding: 32px 64px 64px;
    border-radius: 20px;
    position: relative;
    color: hsl(var(--foreground));
    background-color: hsl(var(--page-card) / 80%);

    .title {
      font-family: "Poppins", sans-serif;
      line-height: 1.5;
      font-weight: 800;
      font-size: 56px;
      text-transform: uppercase;
    }

    .back {
      position: absolute;
      top: 20px;
      left: 52px;
      // align-self: flex-start;
      font-size: 14px;
      height: 32px;
      padding: 0 12px;
      border-radius: 6px;
      background-color: transparent;
      transition: background-color 0.3s;
      i {
        font-weight: bold;
      }
      strong {
        font-size: 500;
        line-height: 1;
      }

      &:hover {
        background-color: #eee;
      }
    }


    .loading {
      position: absolute;
      border-radius: 20px;
      inset: 0;
      background-color: hsl(var(--page-card) / 80%);
      color: hsl(var(--foreground));
      z-index: 3;
      .ip-loading {
        width: 20px;
      }
    }
  }

  .background{
    position: absolute;
    inset: 0;
    .bck{
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: opacity 0.5s;
    }
  }

  .welcome{
    position: absolute;
    left: 40px;
    bottom: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 1.2;

    .back_btn{
      padding: 0 24px 0 8px;
      font-weight: 400;
      height: 36px;
    }

    .liner{
      background: linear-gradient(to right, #3B82F6, #00FFAB);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
