.pc-login_password {
  padding-top: 40px;
  .form {
    &>p{
      white-space: nowrap;
    }
    .input_box {
      background-color: hsl(var(--background));
      height: 44px;
      border-radius: 8px;
      border: 1px solid hsl(var(--input-border));
      .icon{
        color:hsl(var(--foreground) / 50%);
      }
      input{
        background: transparent;
        outline: none;
        border: none;
        &:focus{
          outline: none;
          border: none;
        }
      }
      &:hover{
        border-color: hsl(var(--input-border-hover));
      }
      &:focus-within{
        border-color: hsl(var(--input-border-focus) / 50%);
      }
    }
  }
  & > .btn {
    width: 100%;
    height: 44px;
    border-radius: 8px;
    background-color: hsl(var(--major));
    color: hsl(var(--colour-foreground));
    &:hover:not(.disabled) {
      box-shadow: 0 2px 10px 0px hsl(var(--major) / 50%);
    }

  }
  & > .btn.disabled {
    background-color: hsl(var(--neutral) / 80%);
  }

  .back{
    margin-top: 48px;
    // background-color: #2d2d35;
    background-color: hsl(var(--background));
    box-shadow: 0px 2px 6px 0px rgba(187,187,187,0.52);
    height: 40px;
    border-radius: 8px;
    // color: hsl(var(--foreground) / 80%);
    line-height: 1;
    &:hover{
      background-color: hsl(var(--neutral) / 20%);
      color: hsl(var(--foreground));
    }
  }
}
