.pc-product_list{
	box-sizing: border-box;
	// padding: 0 60px;
	width: 100%;
	
	&>.list{
		width: 100%;
		// max-width: 1570px;
		margin: auto;
		display: flex;
		align-items: flex-end;
		position: relative;
		&::-webkit-scrollbar{
			height: 0 !important;
		}

		&>.priceList{
			flex: 1;
			min-width: 0;
			// width: calc(100% - 215px);
			overflow-x: auto;
			scroll-behavior: smooth;
			// min-height:600px;;
			&::-webkit-scrollbar{
				height: 0 !important;
			}

			&>ul{
				// height: 683px;
				width: 100%;
        flex-wrap: nowrap;
        align-items: stretch;
        @media screen and (max-width:768px){
          flex-wrap: wrap;
        }
				&>li{
					box-sizing: border-box;
          display: block;
					width: 210px;
					min-width: 210px;
          // height: 100%;
          padding: 2.25rem 1rem;
          background-color: hsl(var(--background));
					border-radius: 20px;
          color: hsl(var(--foreground));
          position: relative;
          // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          @media screen and (max-width:1024px) {
            width: 180px;
            min-width: 180px;
          }
          @media screen and (max-width:768px) {
            width: calc(calc(100% - 24px) / 3);
            min-width:0;
            padding: 1.75rem 1rem;
          }
          @media screen and (max-width:640px) {
            width: calc(calc(100% - 12px) / 2);
            min-width:0;
            padding: 1.75rem 1rem;
          }
					&>.card{
						position: relative;
            z-index: 1;

						&>.top{
              color: hsl(var(--primary));
              .package_name{
                // width: 40px;
                padding: 15px;
                height: 40px;
                background-color: hsl(var(--primary));
                color: hsl(var(--colour-foreground));
                strong{
                  line-height: 1;
                }
                span{
                  font-size: 0.625rem;
                  font-weight: 400;
                }
              }
							&>.price{
								vertical-align: bottom;
                line-height: 1;
                // font-family: Plus Jakarta Sans;
                // font-weight: bolder;
							}
							&>.number{
                margin-top:1.75rem;
                max-width: 9rem;
                width: 100%;
                @media screen and (max-width:1024px) {
                  margin-top: 1.25rem;
                }
							}
							&>.total{
								strong{
									font-weight: 500;
									white-space: pre;
								}
								em{
									font-size: 12px;
								}
							}
							&>button{
								width: 100%;
								// margin-top: 30px;
								height: 38px;
								border: 1px solid #FCB711;
								border-radius: 5px;
								color: #FCB711;
								font-size: 16px;
								font-weight: 500;
								background-color: #fff;
								transition: background-color .2s,color .2s;
							}
						}
						&>.top_unlimit{
							padding: 40px 30px 10px;
						}

						&>.title{
							padding: 0 10px 0 30px;
							height: 54px;
							font-size: 14px;
							font-weight: 500;
							line-height: 17px;
							color: #183B56;
						}

            .rights{
              width: calc(100% + 14px);
              margin-left: -4px;
              margin-right: -10px;
              li{
                p{
                  // white-space: nowrap;
                  letter-spacing: 0;
                }
              }
            }
            .border-btn{
              white-space: nowrap;
              width: auto;
              padding: 0 30px;
              height: 50px;
              border: 1px solid #D9D9D9;
              color: hsl(var(--background));
              background-color: hsl(var(--primary));
              // &:hover{
              //   color: hsl(var(--success));
              // }
              @media screen and (max-width:1024px) {
                height: 2.5rem;
                padding: 0 1.25rem;
              }
            }

            

					}

          &>.card.skeletion{
            height: 555px;
            &>div{
              height: 20px;
              border-radius: 6px;
              position: relative;
              overflow: hidden;
              background-color: hsl(var(--background) / 10%);
              &::before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                transform: translateX(-100%);
                background: linear-gradient(
                  to right,
                  transparent,
                  hsl(var(--background) / 5%),
                  transparent
                );
                animation: skeleton 1.5s linear infinite;
              }
            }

            @keyframes skeleton {
              to {
                transform: translateX(100%);
              }
            }
          }

          .hot{
            margin-top: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 70px;
            height: 70px;
            background-image: url("../../../../assets/images/pricing/hot.png");
            background-repeat: no-repeat;
            background-size: 100%;
            color: hsl(var(--foreground));
            z-index: 1;
          }
          .bg_img{
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 16px;
            left: 0;
            top: 0;
            z-index: -1;
            opacity: 0;
            transition: opacity .3s .15s;
            overflow: hidden;
            &>img{
              width: 100%;
              height: auto;
            }
          }

          &:hover:not(.skeletion_box){
            // background-color: #1d1d1d;
            // color: hsl(var(--foreground));
            // background-color: hsl(var(--neutral));
            // background-image: url("../../../../assets/images/pricing/hover.png");
            // background-repeat: no-repeat;
            // background-size: 100%;
            // .bg_img{
            //   z-index: 0;
            //   opacity: 1;
            // }

            // :deep(.pc-stepNumber){
            //   color: hsl(var(--success));
            //   background-color: hsl(var(--foreground));
            //   .border-btn{
            //     color: hsl(var(--success));
            //   }
            // }
          }
				}
        &>li.hidden{
          display: none !important;
        }
			}
		}
    .arrow-btn{
      position: absolute;
      top: 40%;
      width: 30px;
      height: 80px;
      transform: translateY(-50%);
      background-color: transparent;
      color: hsl(var(--foreground));
      border: 1px solid hsl(var(--foreground) / 10%);
      &:hover{
        background-color: hsl(var(--foreground));
        color: hsl(var(--background));
      }
    }
    .arrow-btn.left{
      left: -35px;
    }
    .arrow-btn.right{
      right: -35px;
    }
	}

	.order_detail{
    // padding: 0 80px;
    &>h2{
      font-size: 18px;
      font-weight: bold;
    }
    &>.detail{
      margin-top: 20px;
      box-sizing: border-box;
      width: 100%;
      padding: 20px;
      border-radius: 8px;
      
      &>li{
        width: 100%;
        font-size: 15px;
        span.orange{
          color: #fc7f46;
        }
        span.grey{
          color: hsl(var(--background) / 30%);
        }
      }
      &>li+li{
        margin-top: 20px;
      }
      &>li:last-child{
        margin-top: 30px;
        padding: 30px 0 10px;
        border-top: 1px solid #eee;
        &>span:last-child{
          color: #fd550a;
          font-size: 17px;
          i{
            font-size: 15px;
            font-weight: 400;
            text-decoration: line-through;
            color: #666;
          }
        }
      }
    }
    &>.btn{
      padding-top: 20px;
      .el-button{
        height: 40px;
        padding: 0 40px;
        background-color: #f4b121;
        color: #fff;
        border: none;
      }
      &:hover{
        opacity: 0.8;
      }
    }
  }
}