.pc-product_list{
	box-sizing: border-box;
	// padding: 0 60px;
  width: 100%;

	
	&>.list{
		width: 100%;
		// max-width: 1570px;
		margin: auto;
    // @media screen and (max-width:640px){
    //   width: calc(100% + 40px);
    //   margin: 0 -20px;
    // }
		display: flex;
    flex-direction: column;
		align-items: flex-start;
		position: relative;
    z-index: 3;
    box-sizing: content-box;
		&::-webkit-scrollbar{
			height: 0 !important;
		}

		&>.priceList{
      max-width: 100%;
      margin: 0 auto;
      padding: 1rem;
			// flex: 1;
			// min-width: 0;
			// width: calc(100% - 215px);
			overflow-x: auto;
			scroll-behavior: smooth;
      z-index: 2;
			// min-height:600px;;
			&::-webkit-scrollbar{
				height: 0 !important;
			}

			&>ul{
        
        display: inline-flex;
				// height: 683px;
				// width: 100%;
        flex-wrap: nowrap;
        align-items: stretch;
        // width: max-content;
        z-index: 1;
        @media screen and (max-width:768px){
          flex-wrap: wrap;
        }
				&>li{
          flex-shrink: 0;
					box-sizing: border-box;
          display: block;
					width: 210px;
					min-width: 210px;
          padding: 2px;
          padding-top: 32px;
          // height: 100%;
          
          
          position: relative;
          border-radius: 20px;

          @media screen and (max-width:1024px) {
            width: 180px;
            min-width: 180px;
          }
          @media screen and (max-width:768px) {
            width: calc(calc(100% - 24px) / 3);
            min-width:0;
            // padding: 1.75rem 1rem;
          }
          @media screen and (max-width:640px) {
            width: calc(calc(100% - 12px) / 2);
            min-width:0;
            // padding: 1.75rem 1rem;
          }
          
          // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          
          .tag{
            margin-top: 0;
            position: absolute;
            top: -14px;
            left: 50%;
            z-index: 2;
            transform: translateX(-50%);
            color: hsl(var(--colour-foreground));
            width: auto;
            max-width: 100%;
            height: 30px;
            text-align: center;
            line-height: 25px;
            background: url("../../../../assets/images/product/active_hot.png") no-repeat center top;;
            background-size: 100% 100%;
          }
					&>.card{
						position: relative;
            background-color: hsl(var(--background));
            color: hsl(var(--foreground));
            padding: 2.25rem 1rem;
            border-radius: 20px;
            box-shadow: 0px 5px 16px 0px rgba(187,187,187,0.57);
          
            z-index: 1;
						&>.top{
              
              transition: color .2s;
              .package_name{
                // width: 40px;
                padding: 15px;
                height: 40px;
                font-weight: 500;
                font-size: 30px;
                // background-color: hsl(var(--primary));
                // color: hsl(var(--colour-foreground));
                color: hsl(var(--foreground));
                transition: background-color .2s;
                @media screen and (max-width:768px) {
                  font-size: 20px;
                }
              }
							&>.price{
								vertical-align: bottom;
                line-height: 1;
                color: hsl(var(--primary));
                // font-family: Plus Jakarta Sans;
                // font-weight: bolder;
							}
							&>.number{
                height: 2.5rem;
                margin-top:1.75rem;
                max-width: 9rem;
                width: 100%;
                .duration{
                  vertical-align: baseline;
                  &>span:first-child{
                    color: hsl(var(--foreground) / 90%);
                    
                  }
                }
                @media screen and (max-width:1024px) {
                  margin-top: 1.25rem;
                }
							}
							&>button{
								width: 100%;
								// margin-top: 30px;
								height: 38px;
								border: 1px solid #FCB711;
								border-radius: 5px;
								color: #FCB711;
								font-size: 16px;
								font-weight: 500;
								background-color: #fff;
								transition: background-color .2s,color .2s;
							}
						}
						&>.top_unlimit{
							padding: 40px 30px 10px;
						}

						&>.title{
							padding: 0 10px 0 30px;
							height: 54px;
							font-size: 14px;
							font-weight: 500;
							line-height: 17px;
							color: #183B56;
						}

            .rights{
              width: calc(100% + 14px);
              margin-left: -4px;
              margin-right: -10px;
              li{
                svg{
                  height: 20px;
                }
                p{
                  // font-size: 13px;
                  // white-space: nowrap;
                  letter-spacing: 0;
                }
              }
            }
            .border-btn{
              margin-top: 28px;
              white-space: nowrap;
              width: auto;
              padding: 0 30px;
              height: 40px;
              border: 1px solid #D9D9D9;
              color: hsl(var(--colour-foreground));
              background-color: hsl(var(--primary));
              // &:hover{
              //   color: hsl(var(--success));
              // }
              @media screen and (max-width:1024px) {
                height: 2.5rem;
                padding: 0 1.25rem;
              }
            }

            

					}

          &>.card.skeletion{
            height: 555px;
            &>div{
              height: 20px;
              border-radius: 6px;
              position: relative;
              overflow: hidden;
              background-color: hsl(var(--foreground) / 5%);
              &::before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                transform: translateX(-100%);
                background: linear-gradient(
                  to right,
                  transparent,
                  hsl(var(--foreground) / 5%),
                  transparent
                );
                animation: skeleton 1.5s linear infinite;
              }
            }

            @keyframes skeleton {
              to {
                transform: translateX(100%);
              }
            }
          }

          .hot{
            margin-top: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 61px;
            height: 72px;
            background-image: url("../../../../assets/images/pricing/hot.png");
            background-repeat: no-repeat;
            background-size: 100%;
            color: hsl(var(--colour-foreground));
            z-index: 1;
          }

          &:hover:not(.skeletion_box){

            &>.card{
              .top{
                // color: hsl(var(--success));
                .package_name{
                  // background-color: hsl(var(--success));
                }
              }
              .border-btn{
                background-color: hsl(var(--success));
              }
            }
          }
				}
        &>li.hidden{
          display: none !important;
        }

        // &>li.popular{

        //   .hot_off{
        //     height: 36px;
        //     background-color: #FFF3F8;
        //     color: #E65455;
        //   }
        //   .price{
        //     color: #D5182D !important;
        //     .origin{
        //       text-decoration: line-through;
        //       color: hsl(var(--foreground) / 50%);
        //     }
        //   }
        //   .total>span:last-child{
        //     color: #D5182D ;
        //   }
        //   .border-btn{
        //     background-color: #D5182D !important;
        //     color: #fff !important;
        //   }
        // }

        &>li.custom{
          padding-top: 0px;
          background: linear-gradient(to right, hsl(var(--primary)) 0%, hsl(var(--success)) 100%);
        }

        &>li.contcat{
          .card{
            height: 100%;
            .top{
              .text{
                // text-align: justify; 
                // text-justify: inter-ideograph;
                // text-justify: inter-word;
                hyphens: auto;
                overflow-wrap: break-word;
                word-break: break-all;
                margin-top: 5rem;
                @media screen and (max-width:768px) {
                  margin: 2rem 0;
                }
              }
            }
            .border-btn{
              margin-top: auto;
            }
          }
        }
			}
		}
    .arrow-btn{
      position: absolute;
      top: 40%;
      width: 30px;
      height: 60px;
      z-index: 3;
      transform: translateY(-50%);
      background-color: hsl(var(--background));
      color: hsl(var(--foreground) / 50%);
      border: 1px solid hsl(var(--foreground) / 30%);
      box-shadow: 0 0 4px #17171740;
      &:hover{
        // background-color: hsl(var(--));
        color: hsl(var(--primary));
        border-color: hsl(var(--primary));
      }
    }
    .arrow-btn.left{
      left: -15px;
    }
    .arrow-btn.right{
      right: -15px;
    }
	}

  .support{
    margin-top: 40px;
    color: #94A3B8;
    img{
      width: auto;
      height: 25px;
    }
  }
  .success_border{
    width: calc(100% + 10px);
    margin-left: -4px;
    margin-right: -6px;
    border: 1px solid hsl(var(--success));
  }

	
}